@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/house/images/favicon.ico">
    <title>Lấy lại mật khẩu</title>
    <!-- vendor css -->
    <link href="~/house/lib/@("@fortawesome")/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/house/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <!-- DashForge CSS -->
    <link rel="stylesheet" href="~/house/assets/css/dashforge.css">
    <link rel="stylesheet" href="~/house/assets/css/dashforge.auth.css">
</head>
<body>
    <header>
        <style>
            ul {
                list-style: none;
                padding: 0px;
            }
        </style>
    </header><!-- navbar -->
    <div class="content content-auth-alt">
        @using (Html.BeginForm("SetPassword", "Login", FormMethod.Post))
        {
            <div class="container d-flex justify-content-center ht-100p">
                <div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center">
                    <div class="wd-80p wd-sm-300 mg-b-15"><img src="~/house/images/send-mail.png" class="img-fluid" alt="mail" style="width:300px;"></div>
                    <h4 class="tx-20 tx-sm-24">Lấy lại mật khẩu</h4>
                    <p class="tx-color-03 mg-b-30 tx-center">Nhập số điện thoại đã đăng ký của bạn vào ô dưới. <a href="@Url.Action("Login", "Login", new { area = "" })">Đăng nhập</a></p>
                    <div class="wd-100p d-flex flex-column flex-sm-row mg-b-40">
                        <input type="text" name="txt-phone" class="form-control wd-sm-250 flex-fill" required placeholder="Số điện thoại">
                        <button type="submit" class="btn btn-brand-02 mg-sm-l-10 mg-t-10 mg-sm-t-0" style="width:200px;">Lấy lại mật khẩu</button>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "text-align: center; color:red;" })
                </div>
            </div><!-- container -->
        }
    </div><!-- content -->
    <footer></footer>
    <!--<script src="~/App_Themes/HouseMona/lib/jquery/jquery.min.js"></script>
    <script src="~/App_Themes/HouseMona/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/App_Themes/HouseMona/lib/feather-icons/feather.min.js"></script>
    <script src="~/App_Themes/HouseMona/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/App_Themes/HouseMona/assets/js/dashforge.js"></script>-->
    <!-- append theme customizer -->
    <!--<script src="~/App_Themes/HouseMona/lib/js-cookie/js.cookie.js"></script>
    <script src="~/App_Themes/HouseMona/assets/js/dashforge.settings.js"></script>-->
</body>
</html>
