
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <h4 class="mg-b-15 tx-spacing--1">DANH SÁCH NHÀ TRỌ</h4>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap ">
                <div class="table__filter-header mg-t-0-f">
                    <div class="table__header-left">
                        <a href="#modal-add-house" class="btn btn-primary" data-toggle="modal"><i class="fas fa-home"></i> Thêm nhà - Dãy trọ</a>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="search__box control mg-md-r-5">
                                <input type="text" name="search" class="form-control search__box-area input-style" placeholder="Tìm kiếm..." value="@ViewBag.Search" />
                                <a href="javascript:;" id="btn-search" class="search__box-icon "><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="house-layout-list mg-t-15">
                    <div class="row content-data">
                        @*<div class="house-wrap col-md-4">
                                <div class="house-item">
                                    <div class="media ">
                                        <div class="media-body ">
                                            <div class="group-top">
                                                <h6 class="mg-b-5 tx-inverse house-title"><a href="javascript:;">319 c16 Lý Thường Kiệt</a></h6>
                                                <div class="house-meta">
                                                    <p>
                                                        <span class="value">Số phòng:</span> <span class="lb">10</span>
                                                    </p>
                                                    <p>
                                                        <span class="value">Tổng dư/nợ:</span> <span class="lb" style="color:red;">4.500.000</span>
                                                    </p>
                                                    <p>
                                                        <span class="value">Địa chỉ:</span> <span class="lb"> 319 c16, Lý Thường Kiệt, phường 15, Quận 11, tp. HCM</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="#modal-edit-house" data-toggle="modal" class="edit-house update-house" data-id="1"><i data-feather="edit"></i></a>
                                            <div class="house-address">
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <button type="button" class="btn btn-info">Đặt mua</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- row -->


@using (Html.BeginForm("AddHouse", "House", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="modal-add-house" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
            <div class="modal-content">
                <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                    <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div class="media align-items-center">
                        <span class="tx-color-03 d-none d-sm-block"><i data-feather="home" class="wd-60 ht-60"></i></span>
                        <div class="media-body mg-sm-l-20">
                            <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase">Thêm nhà/dãy trọ mới</h4>
                            <p class="tx-13 tx-color-03 mg-b-0">Thêm nhà/dãy trọ mới vào danh sách</p>
                        </div>
                    </div><!-- media -->
                </div><!-- modal-header -->
                <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên nhà/dãy trọ:</label>
                                <input type="text" name="txt-house-name" required class="form-control" placeholder="Ví dụ: Dãy nhà 1">
                            </div>
                            <div class="col-sm-6">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Loại:</label>
                                <select name="dll-house-type" class="form-control">
                                    <option value="1">Cửa hàng,kiot</option>
                                    <option value="2">Nhà trọ</option>
                                    <option value="3">Nhà nguyên căn</option>
                                    <option value="4">Ký túc xá</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mg-t-10">
                            <div class="col-sm-6">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ:</label>
                                <input type="text" name="txt-house-address" class="form-control" placeholder="Ví dụ: 155 Cộng Hòa">
                            </div>
                            <div class="col-sm-6">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Loại hình cho thuê:</label>
                                <select name="dll-house-rantalForm" class="form-control">
                                    <option value="1">Bao phòng</option>
                                    <option value="2">Ký túc xá</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mô tả:</label>
                        <textarea rows="1" name="txt-house-description" class="form-control" placeholder="Ví dụ: Nhà cho ở tối đa 10 người"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Nội quy:</label>
                        <textarea rows="1" name="txt-house-description" class="form-control" placeholder="Ví dụ: Đóng cửa trước 22h"></textarea>
                    </div>
                </div><!-- modal-body -->
                <div class="modal-footer pd-x-20 pd-y-15">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
}
<script>
    let PageIndex = 1;
    let PageSize = 20;
    let SearchContent = '';
    let OrderBy = 0;
    let domain = 'https://localhost:44340/';
    domain += 'api/Package?';

    //Tạo hoặc làm mới api
    function get_api(PageIndex, PageSize, SearchContent, OrderBy) {
        return domain + 'PageIndex=' + PageIndex + '&PageSize=' + PageSize + '&SearchContent=' + SearchContent + '&OrderBy=' + OrderBy;
    }
    $(document).ready(function () {
        load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
    });
    //Load dữ liệu theo api
    function load_data(api) {
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: api,
            headers: {
                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3VzZXJkYXRhIjoie1wiVXNlcklkXCI6MSxcIlVzZXJOYW1lXCI6XCJhZG1pblwiLFwiRnVsbE5hbWVcIjpcIk1vbmEgTWVkaWFcIixcIlBob25lXCI6XCIwOTAwXCIsXCJFbWFpbFwiOlwiQWRtaW5AZ21haWwuY29tXCIsXCJSb2xlc1wiOlt7XCJSb2xlTmFtZVwiOlwiQXV0aFwiLFwiSXNWaWV3XCI6dHJ1ZX0se1wiUm9sZU5hbWVcIjpcIlBlcm1pdE9iamVjdFwiLFwiSXNWaWV3XCI6dHJ1ZX0se1wiUm9sZU5hbWVcIjpcIlVzZXJHcm91cFwiLFwiSXNWaWV3XCI6dHJ1ZX0se1wiUm9sZU5hbWVcIjpcIkNhdGFsb2d1ZVwiLFwiSXNWaWV3XCI6dHJ1ZX0se1wiUm9sZU5hbWVcIjpcIlBhY2thZ2VcIixcIklzVmlld1wiOmZhbHNlfSx7XCJSb2xlTmFtZVwiOlwiVXNlclwiLFwiSXNWaWV3XCI6dHJ1ZX0se1wiUm9sZU5hbWVcIjpcIkJyYW5jaFwiLFwiSXNWaWV3XCI6dHJ1ZX0se1wiUm9sZU5hbWVcIjpcIkFyZWFcIixcIklzVmlld1wiOnRydWV9LHtcIlJvbGVOYW1lXCI6XCJQZXJtaXNzaW9uXCIsXCJJc1ZpZXdcIjp0cnVlfSx7XCJSb2xlTmFtZVwiOlwiRmlsZVwiLFwiSXNWaWV3XCI6dHJ1ZX1dfSIsIm5iZiI6MTY0NjAyMTE1MCwiZXhwIjoxNjQ2MTMyNzUwLCJpYXQiOjE2NDYwMjExNTB9.MkKupKqyKdCJ1uWP8X2DHeLmT-27LCyZtJE-o-GvLcg',
                'Content-Type': 'application/json'
            },
            success: function (data, status, xhr) {
                //console.log('data: ', data);
                let list = data.Data.Items;
                //console.log('list: ', list);
                //Swal.fire(
                //    'Good job!',
                //    'You clicked the button!',
                //    'success'
                //);
                let html = ``;
                for (let i = 0; i < list.length; i++) {
                    let item = list[i];
                    html += ` <div class="house-wrap col-md-4">
                            <div class="house-item">
                                <div class="media ">
                                    <div class="media-body ">
                                        <div class="group-top">
                                            <h6 class="mg-b-5 tx-inverse house-title"><a href="javascript:;">319 c16 Lý Thường Kiệt</a></h6>
                                            <div class="house-meta">
                                                <p>
                                                    <span class="value">Số phòng:</span> <span class="lb">10</span>
                                                </p>
                                                <p>
                                                    <span class="value">Tổng dư/nợ:</span> <span class="lb" style="color:red;">4.500.000</span>
                                                </p>
                                                <p>
                                                    <span class="value">Địa chỉ:</span> <span class="lb"> 319 c16, Lý Thường Kiệt, phường 15, Quận 11, tp. HCM</span>
                                                </p>
                                            </div>
                                        </div>
                                        <a href="#modal-edit-house" data-toggle="modal" class="edit-house update-house" data-id="1"><i data-feather="edit"></i></a>
                                        <div class="house-address">
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <button type="button" class="btn btn-info">Đặt mua</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                }
                $('.content-data').html(html);
            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }

    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
    });

    //Enter tìm kiếm
    $('input[name=search]').keyup(function (event) {
        if (event.keyCode === 13) {
            SearchContent = $('input[name=search]').val();
            load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
        }
    });
</script>

