@model CoreModel
@using Sample.Entities
@{
    Users user = Model.Users;
}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 20px;
    }

    .btn-primary-edit {
        color: #fff;
        background-color: #1ec8c8;
        border-color: #1ec8c8;
    }

    .modal-dialog {
        max-width: 20%;
    }
</style>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-md-flex align-items-center justify-content-between mg-b-20">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("PackageList","Package")">Danh sách Gói Dịch vụ</a></li>
                    <li class="breadcrumb-item active title" aria-current="page"></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Thông tin phòng-->
    <div class="row mg-b-30 flex-wrap-1" id="print-bill-section">
        <div class="col-sm-12 col-md-4 mg-b-30 mg-md-b-0">
            <div class="room-infor legend-box pd-25  rounded" data-label="Thông tin Gói dịch vụ">
                <div class="info-list">
                    <dl class="row-info">
                        <dd class="">Tên Gói dịch vụ:</dd>
                        <dt><span class="title"></span></dt>
                    </dl>
                    <dl class="row-info hide-on-print">
                        <dd class="">Thời gian sử dụng(Ngày):</dd>
                        <dt class="">
                            <span class="used-time tx-danger" >
                            </span>
                             Ngày
                        </dt>
                    </dl>
                    <dl class="row-info">
                        <dd class="">Giá thuê/ tháng:</dd>
                        <dt class="">
                            <span class="price tx-danger"></span> đ/  
                            <span class="used-time tx-danger"></span> Ngày
                        </dt>
                    </dl>
                    <dl class="row-info">
                        <dd class="">Loại gói phần mềm:</dd>
                        <dt class=""><span class="package-type-name"></span></dt>
                    </dl>
                    <dl class="row-info">
                        <dd class="">Số phòng tối đa:</dd>
                        <dt class=""><span class="limited-room tx-danger"></span></dt>
                    </dl>
                    <dl class="row-info ">
                        <dd class="">Loại hình cho thuê:</dd>
                        <dt class=""><span class="type-of-rental-name"></span=></dt>
                    </dl>
                    <dl class="row-info">
                        <dd class="">Mô tả tên gói:</dd>
                        <dt class="">
                            <span class="title-description">
                            </span>
                        </dt>
                    </dl>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 ">
            <div class="legend-box pd-25  " data-label="Chi tiết hạng mục">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="info-list description">
                            @*<p>
                                Chào mừng bạn đến với Mona Media!
                                Cảm ơn bạn đã sử dụng các sản phẩm và dịch vụ của chúng tôi (“Dịch vụ”). Dịch vụ được cung cấp bởi Công ty TNHH Mona Media. Có trụ sở tại Số373/226 Lý Thường Kiệt, Phường 8, Quận Tân Bình, TP. Hồ Chí Minh, Việt Nam.

                                Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý với các điều khoản này. Vui lòng đọc kỹ các điều khoản này.

                                Mục đích và phạm vi thu thập thông tin
                                Các thông tin thông tin cá nhân của các thành viên, có thể được chúng tôi sử dụng vào những mục đích hợp pháp dưới đây:

                                + Dùng để phân tích xu hướng tiêu dùng của khách hàng, với mục đích xây dựng những dịch vụ mới, hoặc cải thiện những dịch vụ cũ.

                                + Dùng để liên lạc với thành viên khi chúng tôi điều tra thông tin khách hàng, tổ chức khuyến mại, trao đổi ý kiến thông tin trên bảng đánh giá, bình luận

                                Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, ban quản trị website sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.

                                Trong trường hợp khách hàng phát hiện thông tin cá nhân bị  sử dụng sai mục đích hoặc bị xâm phạm thì khách hàng có thể gửi khiếu nại thông qua kênh chăm sóc khách hàng của chúng tôi, khi nhận được các thông tin khiếu nại của thành viên, chúng tôi sẽ dùng mọi biện pháp cần thiết để ngăn chặng không cho thông tin cá nhân đó bị tiếp tục xâm phạm, đồng thời có các biện pháp hỗ trợ  để bảo vệ quyền và lợi ích hợp pháp của khách hàng.Khách hàng có quyền gửi khiếu nại về việc lộ thông tin cá nhân cho bên thứ 3 đến Ban quản trị của website. Khi tiếp nhận những phản hồi này, chúng tôi sẽ xác nhận lại thông tin, phải có trách nhiệm trả lời lý do và hướng dẫn thành viên khôi phục và bảo mật lại thông tin.
                            </p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("PartialView/_BaseScriptPartial")

<script>
    //#region load title
    var url = new URL(window.location);
    console.log(url);
    console.log(url.searchParams.get("title"));
    $('.title-name').html(url.searchParams.get("title"));
    //#endregion
    //#region load content
        var pathArray = window.location.pathname.split('/');
        var Id = pathArray[3];
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: '@Model.Domain' +'api/Package/' + Id,
                headers: {
                    'Authorization': 'Bearer ' + '@Model.Token',
                    'Content-Type': 'application/json'
                },
                success: function (data, status, xhr) {
                    console.log(data.Data);
                    let result = data.Data;
                    $('.title').html(result.Title);
                    $('.used-time').html(result.UserdTime);
                    $('.price').html(format_money(result.Price));
                    $('.package-type-name').html(result.PackageTypeName);
                    $('.limited-room').html(result.LimitedRoom);
                    $('.type-of-rental-name').html(result.TypeOfRentalName);
                    $('.title-description').html(result.TitleDescription);
                    $('.description').html(result.Description);
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        });
        $(document).ready(function () {
            $('.btn-print').on('click', function () {
                window.print();
            })
        });
        //#endregion
</script>