@model CoreModel
<style>
    .modal-dialog {
        max-width: 45%
    }
</style>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <h4 class="mg-b-15 tx-spacing--1">Gói cho thuê</h4>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap ">
                <div class="table__filter-header mg-t-0-f">
                    <div class="table__header-left">
                        <a href="javascript:;" class="btn btn-primary btn-add-package" data-toggle="modal"><i class="fas fa-plus-circle"></i> Thêm mới</a>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="search__box control mg-md-r-5">
                                <input type="text" name="search" class="form-control search__box-area input-style" placeholder="Tìm kiếm..." value="@ViewBag.Search" />
                                <a href="javascript:;" id="btn-search" class="search__box-icon "><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="house-layout-list mg-t-20">
                    <div class="row content-data text-center">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- row -->


<div class="modal fade modal-nopadding-right" id="modal-add-package" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i data-feather="home" class="wd-60 ht-60"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase">Gói phần mềm</h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Thêm sửa gói phần mềm vào danh sách</p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên gói phần mềm <span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-title" required class="form-control" placeholder="Ví dụ: Gói dùng thử">
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giá thuê/tháng <span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-price" data-type="currency" class="form-control" placeholder="Ví dụ: 599.000">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Loại gói phần mềm <span class="text-danger">(*)</span></label>
                            <select name="dll-package-type" class="form-control">
                                <option value="1">Dùng thử</option>
                                <option value="2">Tính phí theo gói</option>
                                <option value="3">Lập trình riêng</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số phòng tối đa <span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-limitedRoom" data-type="currency" class="form-control" placeholder="Ví dụ: 100">
                        </div>

                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Loại hình cho thuê <span class="text-danger">(*)</span></label>
                            <select name="dll-type-of-rental" class="form-control">
                                <option value="1">Nhà trọ truyền thống</option>
                                <option value="2">Ký túc xá</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mô tả tên gói <span class="text-danger">(*)</span></label>
                    <textarea rows="2" name="txt-title-description" class="form-control" placeholder="..."></textarea>
                </div>
                <div class="form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mô tả thêm <span class="text-danger">(*)</span></label>
                    <textarea rows="2" name="txt-description" class="form-control" placeholder="..."></textarea>
                </div>
                <div class="form-group mg-0">
                    <div class="form-check form-switch col-sm-3 mt-3">
                        <input class="form-check-input" type="checkbox" id="switch-active" name="hidden-package" value="">
                        <label class="form-check-label" for="switch-active">Tạm ẩn</label>
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-save-package">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script>
    let PageIndex = 1;
    let PageSize = 20;
    let SearchContent = '';
    let OrderBy = 0;
    let token = '@Model.Token';
    let domain = '@Model.Domain';
    domain += 'api/Package';

    //Tạo hoặc làm mới api
    function get_api(PageIndex, PageSize, SearchContent, OrderBy) {
        return domain + '?PageIndex=' + PageIndex + '&PageSize=' + PageSize + '&SearchContent=' + SearchContent + '&OrderBy=' + OrderBy;
    }
    $(document).ready(function () {
        load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
    });
    //Load dữ liệu theo api
    function load_data(api) {
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: api,
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            success: function (data, status, xhr) {
                const success = data.Success;
                const resultMessage = data.ResultMessage;
                if (!success) {
                    Swal.fire(
                        'Cảnh báo',
                        resultMessage,
                        'warning'
                    )
                }
                else {
                    let list = data.Data.Items;
                    let html = ``;
                    for (let i = 0; i < list.length; i++) {
                        let item = list[i];
                        html += ` <div class="house-wrap col-md-4">
                            <div class="house-item border">
                                <div class="media" style="padding-right:0">
                                    <div class="media-body ">
                                        <div class="group-top">
                                            <h6 class="mg-b-5 tx-inverse house-title"><a href="javascript:;">${item.Title}</a></h6>
                                            <div class="house-meta">
                                                <p>
                                                    <span class="value">${format_money(item.Price)}</span> <span class="lb">/tháng</span>
                                                </p>
                                                <p>
                                                    <span class="value">Tối đa: </span> <span class="lb" style="color:red;">${format_money(item.LimitedRoom)} phòng</span>
                                                </p>
                                                <p>
                                                    <span class="value">${item.TitleDescription}</span>
                                                </p>
                                                <p>
                                                    <span class="value">${item.Description}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <a href="javascript:;" class="edit-house update-house btn-delete-package text-danger" data-id="${item.Id}"><i class="far fa-trash-alt"></i></a>
                                        <div class="house-address">
                                        </div>
                                        <div class="align-items-center">
                                            <a href="javascript:;" class="btn btn-primary btn-detail-package" data-id="${item.Id}" data-active="${item.Active}" data-title="${item.Title}" data-price="${item.Price}" data-LimitedRoom="${item.LimitedRoom}" data-Description="${item.Description}" data-titleDescription="${item.TitleDescription}" data-TypeOfRental="${item.TypeOfRental}" data-PackageType="${item.PackageType}"><i class="fas fa-edit"></i> Chỉnh sửa</a>
                                            <button type="button" class="btn btn-success"><i class="fas fa-check-circle"></i> Đăng Ký Ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                    }
                    $('.content-data').html(html);
                }
            },
            error: function (xhr, status, error) {
                console.log("Result load data: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }

    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
    });

    //Enter tìm kiếm
    $('input[name=search]').keyup(function (event) {
        if (event.keyCode === 13) {
            SearchContent = $('input[name=search]').val();
            load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
        }
    });

    $('.btn-add-package').on('click', function () {
        $('input[name=txt-title]').val('');
        $('textarea[name=txt-title-description]').val('');
        $('input[name=txt-limitedRoom]').val('');
        $('input[name=txt-price]').val('');
        $('textarea[name=txt-description]').val('');
        $('select[name=dll-type-of-rental]').val(1);
        $('select[name=dll-package-type]').val(1);
        $('#switch-active').val(true);
        $('#modal-add-package').modal('show');
    });

    $(document).on('click', '.btn-detail-package', function (event) {
        $('input[name=hdfId]').val($(this).attr('data-id'));
        $('input[name=txt-title]').val($(this).attr('data-title'));
        $('textarea[name=txt-title-description]').val($(this).attr('data-titleDescription'));
        $('input[name=txt-limitedRoom]').val($(this).attr('data-limitedRoom'));
        $('input[name=txt-price]').val(format_money($(this).attr('data-price')));
        $('textarea[name=txt-description]').val($(this).attr('data-Description'));
        $('select[name=dll-type-of-rental]').val($(this).attr('data-TypeOfRental'));
        $('select[name=dll-package-type]').val($(this).attr('data-PackageType'));
        if ($(this).attr('data-active') == 'false') {
            //đang bị ẩn
            $('#switch-active').prop("checked", true);
            $('#switch-active').val(false);
        }
        else {
            //đang active
            $('#switch-active').prop("checked", false);
            $('#switch-active').val(true);
        }
        $('#modal-add-package').modal('show');
    });

    //xóa gói phần mềm
    $(document).on('click', '.btn-delete-package', function (event) {
        const id = $(this).attr('data-id');
        Swal.fire({
            title: 'Xác nhận xóa?',
            text: "Bạn sẽ không thể khôi phục lại được!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value == true) {
                delete_package(id);
            }
        })
    });
    //Thêm mới gói phần mềm
    $('.btn-save-package').click(function () {
        const id = $('input[name=hdfId]').val();
        const title = $('input[name=txt-title]').val();
        const titleDescription = $('textarea[name=txt-title-description]').val();
        const limitedRoom = $('input[name=txt-limitedRoom]').val().replaceAll(',', '');
        const price = $('input[name=txt-price]').val().replaceAll(',', '');
        const active = $('input[name=hidden-package]').val();
        const description = $('textarea[name=txt-description]').val();
        const type_of_rental = $('select[name=dll-type-of-rental]').val();
        const package_type = $('select[name=dll-package-type]').val();
        if (ckstring(title) || ckstring(titleDescription) || ckstring(limitedRoom) || ckstring(price) || ckstring(description) || ckstring(type_of_rental) || ckstring(package_type)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {
            $(this).prop('disabled', true);
            insert_or_update(id, title, titleDescription, description, limitedRoom, price, active, type_of_rental, package_type)
        }
    });

    function insert_or_update(Id, Title, TitleDescription, Description, LimitedRoom, Price, active, type_of_rental, package_type) {
        let data = {};
        data["id"] = Id;
        data["title"] = Title; //I just wanted to show you how you can add values to a json object
        data["titleDescription"] = TitleDescription;
        data["limitedRoom"] = LimitedRoom;
        data["price"] = Price;
        data["active"] = active;
        data["description"] = Description;
        data["typeofrental"] = type_of_rental;
        data["packagetype"] = package_type;

        let type_request = '';
        if (ckstring(Id) || Id == 0) {
            type_request = 'POST';
        }
        else {
            type_request = 'PUT';
        }
        $.ajax({
            url: domain,
            data: JSON.stringify(data),
            type: type_request,
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                const success = data.Success;
                const resultMessage = data.ResultMessage;
                if (!success) {
                    Swal.fire(
                        'Error!',
                        resultMessage,
                        'error'
                    )
                }
                else {
                    load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
                    $('#modal-add-package').modal('hide');
                    if (type_request == 'POST') {
                        Swal.fire(
                            'Thông báo!',
                            resultMessage,
                            'success'
                        );
                    }
                    else if (type_request == 'PUT') {
                        Swal.fire(
                            'Thông báo!',
                            resultMessage,
                            'success'
                        );
                    }
                    $('.btn-save-package').prop('disabled', false);
                }
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Thông báo!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                $('.btn-save-package').prop('disabled', false);
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }

    function delete_package(Id) {
        $.ajax({
            url: domain + '/' + Id,
            type: 'DELETE',
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                const success = data.Success;
                const resultMessage = data.ResultMessage;
                if (!success) {
                    Swal.fire(
                        'Error!',
                        resultMessage,
                        'error'
                    )
                }
                else {
                    load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
                    Swal.fire(
                        'Thành công!',
                        resultMessage,
                        'success'
                    );
                }
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Error!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }

    $('#switch-active').on('change', function () {
        if ($('#switch-active').prop("checked")) {
            $('#switch-active').val(false);
        }
        else {
            $('#switch-active').val(true);
        }
    });
</script>

