@model CoreModel
<style>
    /*input.form-control:disabled {
        background: none;
    }*/

    .room .room-header a.item-link {
        color: #46CED0;
    }

    .room-header .dropdown__wrap {
        right: 15px;
        position: absolute;
    }

    .room .room-info {
        padding-top: 30px;
    }

    .result-goout .tx-row .lb {
        flex: 0 0 250px;
    }

    .room .lb {
        margin-bottom: 2px;
    }

    .ls-room {
        text-align: left;
    }

    .form-control {
        height: initial;
    }

    /*.input-group-text {
        padding: initial;
    }*/
    /* BaoNguyen CSS*/
    .col-sm-12 {
        padding-bottom: 15px;
    }

    .col-sm-6 {
        margin-bottom: 20px;
    }
</style>
<div class="fixed-filter sticky-top">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item active" aria-current="page">Quản lý Khách hàng</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Danh sách khách hàng</h4>
            </div>
        </div>
    </div>
</div>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap bd-t pd-t-15">
                <div class="table__filter-header mg-t-0-f">
                    <div class="table__header-left ">
                        <a href="javascript:;" class="btn btn-primary btn-add-user-in-group" data-toggle="modal"><i class="fas fa-plus-circle"></i> Thêm mới</a>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="search__box control mg-md-r-5">
                                <input type="text" class="form-control search__box-area input-style" name="search" placeholder="Tìm kiếm...">
                                <a id="btn-search" href="javascript:;" class="search__box-icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>

                            <div class="select-sort">
                                <span>Sắp xếp: </span>
                                <select name="" class="form-control" onchange="load_orderBy(this.value)">
                                    <option value="0">Tên khách hàng A-Z ↓</option>
                                    <option value="1">Tên khách hàng Z-A ↑</option>

                                </select>
                            </div>
                            @*<div class="select-sort">
                                    <span>Trạng thái: </span>
                                    <select name="" class="form-control">
                                        <option value="0">Đã kích hoạt</option>
                                        <option value="1">Đã khóa</option>
                                    </select>
                                </div>*@
                            <div class="mg-b-15">
                                <a href="#" class="btn btn-style control js-toggle-filter" id="js-toggle-filter"><i class="fa fa-filter" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-style js-customize-column m-0" data-target="table-list-room"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg></a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="table__filter-form">
                    <div class="filter__form__wrap">
                        @*<div class="filter__form-col">
                            <div class="form__group">
                                <label>Gói dịch vụ khách hàng sử dụng</label>
                                <select name="" class="form-control" id="slc-package">
                                    <option value="" selected="">-Tất cả-</option>
                                </select>
                            </div>
                        </div>*@
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Trạng thái người dùng: </label>
                                <select name="" class="form-control" onchange="load_Status(this.value)">
                                    <option value="" selected="">-Tất cả-</option>
                                    <option value="0">Đã kích hoạt</option>
                                    <option value="1">Đã khóa</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="filter__form-col">
                                <div class="form__group">
                                    <label>Ngày đăng ký</label>
                                    <div class="row from-to-group">
                                        <div class="col-6">
                                            <input type="text" class="form-control datetimepicker date-only from-date" placeholder="Từ ngày" autocomplete="off">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control datetimepicker date-only to-date" placeholder="Đến ngày" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter__form-col">
                                <div class="form__group">
                                    <label>Ngày hết hạn</label>
                                    <div class="row from-to-group">
                                        <div class="col-6">
                                            <input type="text" class="form-control datetimepicker date-only from-date" placeholder="Từ ngày" autocomplete="off">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control datetimepicker date-only to-date" placeholder="Đến ngày" autocomplete="off">
                                        </div>
                                    </div>

                                </div>
                            </div>*@

                    </div>
                    <div class="filter__form-submit">
                        <a href="javascript:;" class="btn btn-warning" id="js-filter-submit">Tìm nâng cao</a>
                    </div>
                </div>
                <div class="table__filter-wrap">

                    <div class="table-responsive table-userlist">
                    </div>
                    @await Html.PartialAsync("_PaginationPartial")
                </div>
            </div>

        </div>
    </div><!-- row -->
</div><!-- container -->
<!--Modal BaoNguyen-->
<div class="modal fade modal-nopadding-right" id="modal-user-in-group" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i class="fas fa-users"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase"></h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Khách hàng </p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <input type="hidden" name="hdfId" value="0" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Tài khoản<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-username" id="txt-username" required class="form-control" placeholder="Ví dụ: NguyenVanA">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Đầy Đủ<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-fullname" id="txt-fullname" required class="form-control" placeholder="Ví dụ: Nguyễn Văn A">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số điện thoại <span class="text-danger"></span></label>
                            <input type="text" name="txt-phone" id="txt-phone" data-type="number" required class="form-control" placeholder="Ví dụ: 0933110546">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày sinh<span class="text-danger"></span></label>
                            <div class="input-icon">
                                <input id="txt-dob" name="txt-dob" type="tel" class="form-control datetimepicker date-only" placeholder="dd/mm/yyyy" value="" autocomplete="off">
                                <a href="javascript:;" class="datepicker-trigger icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Email<span class="text-danger"></span></label>
                            <input type="text" name="txt-email" id="txt-email" required class="form-control" placeholder="Ví dụ: nguyenvana99@gmail.com">
                        </div>

                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giới tính<span class="text-danger"></span></label>
                            <select class="js-example-basic-single form-control select2" name="ddl-gender" id="ddl-gender">
                                <option disabled="true" selected>Giới tính</option>
                                <option value="0">Giới tính Nữ</option>
                                <option value="1">Giới tính Nam</option>
                                <option value="3">Không xác định</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày Phòng trống khách<span class="text-danger">(*)</span></label>
                                <input type="text" name="txt-EmptyRoomDate" required class="form-control" placeholder="Ví dụ: 20/2/2023">
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ thường trú<span class="text-danger"></span></label>
                            <input type="text" name="txt-address" id="txt-address" required class="form-control" placeholder="Ví dụ: Khu A 123, Nguyen van A,Go vap, TP.HCM">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số CMND<span class="text-danger"></span></label>
                            <input type="text" name="txt-cmnd" id="txt-cmnd" data-type="number" required class="form-control" placeholder="Ví dụ: 2417742266">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Quyền người dùng<span class="text-danger">(*)</span></label>
                            <select class="js-example-basic-single form-control select2" name="ddl-role" id="ddl-role">
                                <option disabled="true" selected>Quyền người dùng</option>
                                <option value="3">Chủ trọ</option>
                            </select>
                        </div>

                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mật khẩu<span class="text-danger">(*)</span></label>
                            <input type="password" name="txt-pwd" id="txt-pwd" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Xác nhận Mật khẩu<span class="text-danger">(*)</span></label>
                            <input type="password" name="txt-pwdconfirm" id="txt-pwdconfirm" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                            <span id='message2'></span>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Chọn hình ảnh<span class="text-danger">(*)</span></label>
                                <div style="clear:left;"></div>
                                <a href="javascript:;" class="btn btn-outline-primary btn-uploads btn-block">
                                    <i data-feather="camera" class="mg-r-5"></i> Ảnh nhà - dãy trọ
                                </a>
                                <input id="input-img" type='file' name="electricimg" class="hidden upload-image-temps remove-items" onchange="readURL(this);" multiple />
                                <div style="clear:left;"></div>
                                <div class="preview-image" id="room-img"></div>

                            </div>
                        </div>*@
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-save-user-in-group">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!--Modal-->
<!-- MODAL UPDATE USER-->
<div class="modal fade modal-nopadding-right" id="modal-update-user" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i class="fas fa-users"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="update-hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase"></h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Cập nhật thông tin người dùng </p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <input type="hidden" name="update-hdfId" value="0" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Tài khoản<span class="text-danger">(*)</span></label>
                            <input type="text" name="update-username" id="update-username" required class="form-control" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Đầy Đủ<span class="text-danger">(*)</span></label>
                            <input type="text" name="update-fullname" id="update-fullname" required class="form-control" placeholder="Ví dụ: Nguyễn Văn A">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số điện thoại <span class="text-danger"></span></label>
                            <input type="text" name="update-phone" id="update-phone" data-type="number" required class="form-control" placeholder="Ví dụ: 0933110546">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày sinh<span class="text-danger"></span></label>
                            <div class="input-icon update">
                                <input id="update-dob" name="update-dob" type="tel" class="form-control datetimepicker date-only" placeholder="dd/mm/yyyy" value="">
                                <a href="javascript:;" class="datepicker-trigger icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Email<span class="text-danger"></span></label>
                            <input type="text" name="update-email" id="update-email" required class="form-control" placeholder="Ví dụ: nguyenvana99@gmail.com">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giới tính<span class="text-danger"></span></label>
                            <select class="js-example-basic-single form-control select2" name="update-gender" id="update-gender">
                                <option disabled="true" selected>Giới tính</option>
                                <option value="0">Giới tính Nữ</option>
                                <option value="1">Giới tính Nam</option>
                                <option value="3">Không xác định</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày Phòng trống khách<span class="text-danger">(*)</span></label>
                                <input type="text" name="txt-EmptyRoomDate" required class="form-control" placeholder="Ví dụ: 20/2/2023">
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ thường trú<span class="text-danger"></span></label>
                            <input type="text" name="update-address" id="update-address" required class="form-control" placeholder="Ví dụ: Khu A 123, Nguyen van A,Go vap, TP.HCM">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Trạng thái<span class="text-danger">(*)</span></label>
                            <select class="js-example-basic-single form-control select2" id="user-status">
                                <option disabled="true" selected>Trạng thái</option>
                                <option value="0">Đã kích hoạt</option>
                                <option value="1">Đã khóa</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số CMND<span class="text-danger"></span></label>
                            <input type="text" name="update-cmnd" id="update-cmnd" data-type="number" required class="form-control" placeholder="Ví dụ: 2417742266">
                        </div>
                    </div>
                    <hr />
                    @*<div class="row">
                            <div class="col-sm-6">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Nhập mật khẩu cũ<span class="text-danger">(*)</span></label>
                                <input type="password" name="update-pwdold" id="update-pwdold" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mật khẩu mới<span class="text-danger">(*)</span></label>
                            <input type="password" name="update-pwd" id="update-pwd" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Xác nhận Mật khẩu mới<span class="text-danger">(*)</span></label>
                            <input type="password" name="update-pwdconfirm" id="update-pwdconfirm" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                            <span id='message'></span>
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Chọn hình ảnh<span class="text-danger">(*)</span></label>
                                <div style="clear:left;"></div>
                                <a href="javascript:;" class="btn btn-outline-primary btn-uploads btn-block">
                                    <i data-feather="camera" class="mg-r-5"></i> Ảnh nhà - dãy trọ
                                </a>
                                <input id="input-img" type='file' name="electricimg" class="hidden upload-image-temps remove-items" onchange="readURL(this);" multiple />
                                <div style="clear:left;"></div>
                                <div class="preview-image" id="room-img"></div>

                            </div>
                        </div>*@
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-update-user">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- bat loi form-->

@await Html.PartialAsync("PartialView/_BaseScriptPartial")
<script>
    $('#update-pwd, #update-pwdconfirm').on('keyup', function () {
        if ($('#update-pwd').val() == $('#update-pwdconfirm').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
    $('#txt-pwd, #txt-pwdconfirm').on('keyup', function () {
        if ($('#txt-pwd').val() == $('#txt-pwdconfirm').val()) {
            $('#message2').html('Matching').css('color', 'green');
        } else
            $('#message2').html('Not Matching').css('color', 'red');
    });
</script>
<!---->

<script>
    let orderBy = 0;
    let SearchContent = '';
    let Status = -1;
    let Package = -1;

    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data(1, 20, orderBy, SearchContent, Status, Package);
    });
    $(function () {
        load_data(1, 20, orderBy, SearchContent, Status, Package);
    });
    function load_orderBy(val) {
        orderBy = val;
        load_data(1, 20, orderBy, SearchContent, Status, Package);
    }
    function load_Status(val) {
        Status = val;
        load_data(1, 20, orderBy, SearchContent, Status, Package);
    }
    let roleNumber = 3; // chu tro
    function load_data(pageindex, pagesize, orderby, searchContent, status, package) {
        $.get('/user/UserOwnerPartial?pageindex=' + pageindex + '&pagesize=' + pagesize + '&orderby=' + orderby + '&SearchContent=' + searchContent + '&Status=' + status + '&PackageId=' + package + '&roleNumber=' + roleNumber, function (data) {
            $('.table-userlist').html(data);
        });
    }
    //#region thêm mới chủ trọ
    $('.btn-add-user-in-group').on('click', function () {
        $('input[name=hdfId]').val(0);
        $('#txt-username').val("");
        $('#txt-fullname').val("");
        $('#txt-phone').val("");
        $('#ddl-old').val("");
        $('#txt-email').val("");
        $('#txt-dob').val("");
        $('#txt-address').val("");
        $('#ddl-gender').val("").change();
        $('#ddl-role').val("").change();
        $('#txt-cmnd').val("");
        $('#txt-pwd').val("");
        $('#txt-pwdconfirm').val('');
        $('#modal-user-in-group').modal('show');
    });
    $('.btn-save-user-in-group').click(function () {
        const id = $('input[name=hdfId]').val();
        const username = $('#txt-username').val();
        const fullname = $('#txt-fullname').val();
        const phone = $('#txt-phone').val();
        const email = $('#txt-email').val();
        const dob = $('#txt-dob').val();
        const address = $('#txt-address').val();
        const gender = $('#ddl-gender').val();
        const role = $('#ddl-role').val();
        const pwd = $('#txt-pwd').val();
        const pwdconfirm = $('#txt-pwdconfirm').val();
        const cmnd = $('#txt-cmnd').val();
        console.log(id);
        console.log(fullname);
        console.log(username);
        console.log(phone);
        console.log(email);
        console.log(dob);
        console.log(address);
        console.log(gender);
        console.log(role);
        console.log(cmnd);
        console.log(pwd);
        console.log(pwdconfirm);
        if (ckstring(fullname) || ckstring(username) @*|| ckstring(phone)*@ || ckstring(username) @*|| ckstring(email)*@ @*|| ckstring(dob) *@@*|| ckstring(address)*@ @*|| ckstring(gender)*@ || ckstring(role) @*|| ckstring(cmnd)*@ || ckstring(pwd) || ckstring(pwdconfirm)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {
            $('.btn-save-user-in-group').prop('disabled', true);
            let data = {};
            data["id"] = id;
            data["userName"] = username;
            data["fullName"] = fullname;
            data["phone"] = phone;
            data["email"] = email;
            data["birthDate"] = dob.split("/").reverse().join("-");
            data["address"] = address;
            data["genderNumber"] = gender;
            let userGroupIds = [];
            userGroupIds.push(role);
            data["userGroupIds"] = userGroupIds;
            data["citizenIdentification"] = cmnd;
            data["password"] = pwd;
            data["confirmPassWord"] = pwdconfirm;
            data["status"] = 0;
            data["isAdmin"] = false;
            data["deleted"] = false;
            data["active"] = true;
            console.log('add: '+data);
            insert_or_update(data);
        }
    });

    function insert_or_update(data) {

        let url ='@Model.Domain'+'api/user';
        let type_request = '';
        if (ckstring(data.id) || data.id == 0) {
            type_request = 'POST';
        }
        else {
            type_request = 'PUT';
            url = '@Model.Domain' + 'api/user/' + data.id;
        }
        $('#modal-user-in-group').modal('hide');
        $.ajax({
            url: url,
            data: JSON.stringify(data),
            type: type_request,
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + '@Model.Token',
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                if (type_request == 'POST') {
                    Swal.fire(
                        'Thông báo!',
                        'Thêm dữ liệu thành công!',
                        'success'
                    );
                }
                else if (type_request == 'PUT') {
                    Swal.fire(
                        'Thông báo!',
                        'Cập nhật dữ liệu thành công!',
                        'success'
                    );
                }
                $('.btn-save-user-in-group').prop('disabled', false);
                load_data(1, 20, 0);
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Thông báo!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                $('.btn-save-user-in-group').prop('disabled', false);
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
    //#endregion

    //#region danh sách gói dịch vụ
    let api_load_package = 'api/Package?PageIndex=1&PageSize=20&OrderBy=0&TenantId=0';
    load_data_with_jquery(api_load_package).then(function (e) {
        console.log(e);
        let packages = e.Data.Items;
        select = document.getElementById('slc-package');
        for (let i = 0; i < packages.length; i++) {
            console.log(packages[i]);
            var opt = document.createElement('option');
            opt.value = packages[i].Id;
            opt.innerHTML = packages[i].Title;
            select.appendChild(opt);
        }
    })
    //#endregion
</script>
