
<style>
    /*input.form-control:disabled {
        background: none;
    }*/

    .room .room-header a.item-link {
        color: #46CED0;
    }

    .room-header .dropdown__wrap {
        right: 15px;
        position: absolute;
    }

    .room .room-info {
        padding-top: 30px;
    }

    .result-goout .tx-row .lb {
        flex: 0 0 250px;
    }

    .room .lb {
        margin-bottom: 2px;
    }

    .ls-room {
        text-align: left;
    }

    .form-control {
        height: initial;
    }

    /*.input-group-text {
        padding: initial;
    }*/
</style>
<div class="fixed-filter sticky-top">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <h4 class="mg-b-15 tx-spacing--1">Danh sách chủ nhà</h4>
            <div class="d-flex align-items-center">
                <div class="d-flex">
                    <div class="form-group mg-r-15 group-select">
                        <label class="mg-b-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg></label>
                        <select name="" class="form-control">
                            <option value="">321 CMT8, Lý Thường Kiệt</option>
                            <option value="" selected="">319 CMT8 , Trương Định</option>
                        </select>
                    </div>
                    <div class="form-group group-select">
                        <label class="mg-b-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></label>
                        <select name="" class="form-control">
                            <option value="">Tháng 1</option>
                            <option value="" selected="">Tháng 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap bd-t pd-t-15">
                <div class="table__filter-header mg-t-0-f">
                    <div class="table__header-left d-flex">
                        <div class="search__box control">
                            <input type="text" class="form-control search__box-area input-style" placeholder="Tìm kiếm...">
                            <a href="javascript:;" class="search__box-icon "><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="select-sort">
                                <span>Sắp trống: </span>
                                <select name="" class="form-control">
                                    <option value="">Tháng sau</option>
                                    <option value="">2 tháng tới</option>
                                    <option value="">3 tháng tới</option>
                                    <option value="">4 tháng tới</option>
                                    <option value="">5 tháng tới</option>
                                </select>
                            </div>
                            <div class="select-sort">
                                <span>Sắp xếp: </span>
                                <select name="" class="form-control">
                                    <option value="">Tên trọ A-Z ↓</option>
                                    <option value="">Tên trọ Z-A ↑</option>

                                    <option value="">Tiền nợ ↓</option>
                                    <option value="">Tiền nợ ↑</option>
                                </select>
                            </div>
                            <div class="select-sort">
                                <span>Trạng thái: </span>
                                <select name="" class="form-control">
                                    <option value="">Sắp chuyển vào</option>
                                    <option value="">Phòng trống</option>
                                    <option value="">Sắp dọn ra</option>
                                    <option value="">Chưa có khách dọn vào</option>
                                    <option value="">Đã thu tiền</option>
                                    <option value="">Chưa thu tiền</option>
                                </select>
                            </div>
                            <div class="mg-b-15">
                                <a href="#" class="btn btn-style control js-toggle-filter" id="js-toggle-filter"><i class="fa fa-filter" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-style js-customize-column m-0" data-target="table-list-room"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg></a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="table__filter-form">
                    <div class="filter__form__wrap">
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Trạng thái phòng</label>
                                <select name="" class="form-control">
                                    <option value="" selected="">-Tất cả-</option>
                                    <option value="1">Sắp chuyển vào</option>
                                    <option value="1">Sắp dọn ra</option>
                                    <option value="1">Đang ở</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Điện nước</label>
                                <select name="" class="form-control">
                                    <option value="">-Tất cả-</option>
                                    <option value="1" selected="">Chưa ghi</option>
                                    <option value="1" selected="">Đã ghi</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Phòng sắp trống</label>
                                <div class="row from-to-group">
                                    <div class="col-6">
                                        <input type="text" class="form-control datetimepicker date-only from-date" placeholder="Từ ngày" autocomplete="off">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control datetimepicker date-only to-date" placeholder="Đến ngày" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Ngày dọn vào</label>
                                <div class="row from-to-group">
                                    <div class="col-6">
                                        <input type="text" class="form-control datetimepicker date-only from-date" placeholder="Từ ngày" autocomplete="off">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control datetimepicker date-only to-date" placeholder="Đến ngày" autocomplete="off">
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Nhà / dãy trọ</label>
                                <select name="" class="form-control">
                                    <option value="">-Tất cả-</option>
                                    <option value="1" selected="">319 CMT7, Trương Định</option>
                                    <option value="1">64 Út Tịch</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Thu tiền</label>
                                <select name="" class="form-control">
                                    <option value="">-Tất cả-</option>
                                    <option value="1" selected="">Chưa thu tiền</option>
                                    <option value="2" selected="">Đã thu tiền</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Loại phòng</label>
                                <select name="" class="form-control">
                                    <option value="">-Tất cả-</option>
                                    <option value="1" selected="">Ngắn hạn</option>
                                    <option value="2" selected="">Dài hạn</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Tiền nợ</label>
                                <select name="" class="form-control">
                                    <option value="">-Tất cả-</option>
                                    <option value="1" selected="">Đang có nợ</option>
                                    <option value="2" selected="">Không nợ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="filter__form-submit">
                        <a href="javascript:;" class="btn btn-warning" id="js-filter-submit">Tìm nâng cao</a>
                    </div>
                </div>
                <div class="table__filter-wrap">
                    <div class="table-responsive">
                        <table class="table  tx-14  table-striped table-hover border" id="table-list-room">
                            <thead class="thead-primary">
                                <tr>
                                    <th class="checkbox-col">
                                    </th>
                                    <th class="sort-label" data-column="col-house">Họ và tên</th>
                                    <th class="sort-label" data-column="col-room">Số điện thoại</th>
                                    <th class="sort-label" data-column="col-people">Email</th>
                                    <th class="sort-label" data-column="col-status">Trạng thái</th>
                                    <th class="sort-label" data-column="col-electric">Ngày tạo</th>
                                    <th class="sort-label" data-column="col-deposit">Tiền nợ</th>
                                    <th class="action-col"></th>
                                </tr>
                            </thead>
                            <tbody class="tbody-roomlist">
                                <tr>
                                    <td class="checkbox-col">
                                        <a href="javascript:;" class="toggle-collapse collapse-1" data-type="close"><i class="fa fa-angle-down"></i></a>
                                    </td>
                                    <td data-column="col-house">
                                        <a href="room-detail.php">
                                            Nguyễn Trần Uyển Nhi
                                        </a>
                                    </td>
                                    <td data-column="col-room">
                                        <a href="room-detail.php">0967676895</a>
                                    </td>
                                    <td data-column="col-people">ngotungdat@gmail.com</td>
                                    <td data-column="col-status">
                                        <span class="badge badge-warning wd-100 pd-5 tx-12">
                                            Cần tư vấn
                                        </span>
                                        <p class="mg-b-0 mg-t-5 tx-12">Thuê vào: 20/04/2020</p>
                                    </td>
                                    <td data-column="col-electric">20/04/2020</td>
                                    <td data-column="col-deposit">
                                        <span class="tx-danger tx-medium">12.000.000</span>
                                    </td>
                                    <td class="action-col">
                                        <div class="dropdown__wrap">
                                            <a href="#" class="table-action"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                            <ul class="drop-menu">
                                                <li class="drop-menu-item"><a href="room-detail.php" class="item-link"><span class="icon"><i class="fas fa-info-circle" aria-hidden="true"></i></span>Chi tiết</a></li>
                                                <li class="drop-menu-item">
                                                    <a href="#js-electronicNote" data-toggle="modal" class="item-link">
                                                        <span class="icon"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>Ghi
                                                        điện
                                                    </a>
                                                </li>
                                                <li class="drop-menu-item">
                                                    <a href="#js-payMoney" data-toggle="modal" class="item-link">
                                                        <span class="icon"><i class="fas fa-hand-holding-usd" aria-hidden="true"></i></span>Thu
                                                        tiền
                                                    </a>
                                                </li>
                                                <li class="drop-menu-item">
                                                    <a href="#js-goOut" data-toggle="modal" class="item-link">
                                                        <span class="icon"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>Dọn
                                                        ra
                                                    </a>
                                                </li>
                                                <li class="drop-menu-item">
                                                    <a href="add-people.php" class="item-link">
                                                        <span class="icon"><i class="fas fa-sign-in-alt" aria-hidden="true"></i></span>Dọn
                                                        vào
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="collapse-row">
                                    <td colspan="10" class="detailsDiv-1">
                                        @*@await Html.PartialAsync("UserOwnerDetailPartial")*@
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <nav aria-label="Page navigation text-right">
                        <ul class="pagination mg-b-0">
                            <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link page-link-icon" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div><!-- row -->
</div><!-- container -->


<script>
    $('.collapse-1').on('click', function () {
        const toggle = $(this).attr('data-type');
        if (toggle == 'close')
        {
            $(this).attr('data-type', 'open');
            $.get( '/user/UserOwnerDetailPartial?userId=1', function(data) {
                $('.detailsDiv-1').html(data);
            });
        }
        else if (toggle == 'open')
        {
            $(this).attr('data-type', 'close');
        }
    });
</script>
