@model CoreModel
<style>
    .table__filter__wrap .table tr th, .table__filter__wrap .table tr td {
        min-width: 80px;
    }
</style>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">Quản lý người dùng theo nhóm</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Danh sách người dùng theo nhóm</h4>
        </div>
    </div>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap">
                <div class="table__filter-header">
                    <div class="table__header-left">
                        <a href="javascript:;" class="btn btn-primary btn-add-user-in-group" data-toggle="modal"><i class="fas fa-plus-circle"></i> Thêm mới</a>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="search__box control mg-md-r-5">
                                <input type="text" class="form-control search__box-area input-style" name="search" placeholder="Tìm kiếm...">
                                <a href="javascript:;" class="search__box-icon" id="btn-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="select-sort">
                                <span>Sắp xếp: </span>
                                <select name="" class="form-control" onchange="sort_data(this.value)">
                                    <option value="0">Tên người dùng A-Z↓</option>
                                    <option value="1">Tên người dùng Z-A↑</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__filter-wrap">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped  border">
                            <thead class="">
                                <tr class="tr-header-table">
                                    <th class="sort-label" data-column="col-name">Tên truy cập</th>
                                    <th class="sort-label" data-column="col-electronic">Tên đầy đủ</th>
                                    <th class="sort-label " data-column="col-service">Thuộc nhóm</th>
                                    <th class="sort-label text-table-center" data-column="col-service">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-user-in-group">
                            </tbody>
                        </table>
                    </div>
                    @await Html.PartialAsync("_PaginationPartial")
                </div>
            </div>
        </div>
    </div><!-- row -->
</div>
<div class="modal fade modal-nopadding-right" id="modal-user-in-group" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i class="fas fa-car-side mr-3"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase"></h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Thêm </p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <input type="hidden" name="hdfId" value="0" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Tài khoản<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-username" id="txt-username" required class="form-control" placeholder="Ví dụ: NguyenVanA">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Đầy Đủ<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-fullname" id="txt-fullname" required class="form-control" placeholder="Ví dụ: Nguyễn Văn A">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số điện thoại <span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-phone" id="txt-phone" data-type="number" required class="form-control" placeholder="Ví dụ: 0933110546">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Chọn Tuổi<span class="text-danger">(*)</span></label>
                            <input type="text" name="ddl-old" id="ddl-old" data-type="number" required class="form-control" placeholder="Ví dụ: 18 Tuổi">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Email<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-email" id="txt-email" required class="form-control" placeholder="Ví dụ: nguyenvana99@gmail.com">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày sinh<span class="text-danger">(*)</span></label>
                            <div class="input-icon">
                                <input id="txt-dob" name="txt-dob" type="tel" class="form-control datetimepicker date-only" placeholder="dd/mm/yyyy" value="20/10/1999" readonly="true" autocomplete="off">
                                <a href="javascript:;" class="datepicker-trigger icon"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></a>
                            </div>
                        </div>

                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Ngày Phòng trống khách<span class="text-danger">(*)</span></label>
                                <input type="text" name="txt-EmptyRoomDate" required class="form-control" placeholder="Ví dụ: 20/2/2023">
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ thường trú<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-address" id="txt-address" required class="form-control" placeholder="Ví dụ: Khu A 123, Nguyen van A,Go vap, TP.HCM">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giới tính<span class="text-danger">(*)</span></label>
                            <select class="js-example-basic-single form-control select2" name="ddl-gender" id="ddl-gender">
                                <option disabled="true" selected>Giới tính</option>
                                <option value="false">Giới tín Nữ</option>
                                <option value="true">Giới tín Nam</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Quyền người dùng<span class="text-danger">(*)</span></label>
                            <select class="js-example-basic-single form-control select2" name="ddl-role" id="ddl-role">
                                <option disabled="true" selected>Quyền người dùng</option>
                                <option value="5">Khách hàng</option>
                                <option value="4">Nhân viên</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Số CMND<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-cmnd" id="txt-cmnd" data-type="number" required class="form-control" placeholder="Ví dụ: 2417742266">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mật khẩu<span class="text-danger">(*)</span></label>
                            <input type="password" name="txt-pwd" id="txt-pwd" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Xác nhận Mật khẩu<span class="text-danger">(*)</span></label>
                            <input type="password" name="txt-pwdconfirm" id="txt-pwdconfirm" required class="form-control" placeholder="Nhập ít nhất 8 kí tự">
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-12">
                                <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Chọn hình ảnh<span class="text-danger">(*)</span></label>
                                <div style="clear:left;"></div>
                                <a href="javascript:;" class="btn btn-outline-primary btn-uploads btn-block">
                                    <i data-feather="camera" class="mg-r-5"></i> Ảnh nhà - dãy trọ
                                </a>
                                <input id="input-img" type='file' name="electricimg" class="hidden upload-image-temps remove-items" onchange="readURL(this);" multiple />
                                <div style="clear:left;"></div>
                                <div class="preview-image" id="room-img"></div>

                            </div>
                        </div>*@
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-save-user-in-group">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script>
    let page_index = 1;
    let page_size = 10;
    let SearchContent = '';
    let OrderBy = 0;
    let token = '@Model.Token';
    let domain = '@Model.Domain';
    domain += 'api/user-in-group';
    let total_item = 0;
    let total_page = 0;
    let UserInGroupId = 4;// role nhan vien
    //Tạo hoặc làm mới api
    function get_api(PageIndex, PageSize, SearchContent, OrderBy) {
        return domain + '?UserGroupId=' + UserInGroupId+'&PageIndex=' + PageIndex + '&PageSize=' + PageSize + '&SearchContent=' + SearchContent + '&OrderBy=' + OrderBy;
    }
    $(document).ready(function () {
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    });
    //Load dữ liệu theo api
    function load_data(api) {
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: api,
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            success: function (data, status, xhr) {
                //console.log('data: ', data);
                let list = data.Data.Items;
                console.log('list: ', list);
                let html = '';
                for (let i = 0; i < list.length; i++) {
                    let item = list[i];
                    html += '<tr>';
                    html += '<td>' + item.UserName + '</td>';
                    html += '<td>' + item.FullName + ' </td>';
                    html += '<td>' + item.UserGroupName + '</td>';
                    html += '<td class="text-table-center"><a href="javascript:;" data-id="' + item.Id + '" data-name="' + item.UserName + '" data-price="' + item.FullName + '" data-price="' + item.UserGroupName + '" class="btn-edit-user-in-group"  data-toggle="modal"><i class="fas fa-edit"></i></a></td>';
                    html += '</tr>';
                }
                $('#tbody-user-in-group').hide().html(html).show('slow');
                total_item = data.Data.TotalItem;
                total_page = data.Data.TotalPage;
                load_pagination(pagination(page_index, total_page), page_index, total_page, total_item);
            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    });

    //Enter tìm kiếm
    $('input[name=search]').keyup(function (event) {
        if (event.keyCode === 13) {
            SearchContent = $('input[name=search]').val();
            load_data(get_api(page_index, page_size, SearchContent, OrderBy));
        }
    });
    //Sắp xếp
    function sort_data(val) {
        OrderBy = val;
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    }
    //load phân trang
    $(function () {
        load_pagination(pagination(page_index, page_size), page_index, total_page, total_item);
    });
    //load khi bấm chuyển trang
    function load_to_page(index_click) {
        page_index = index_click;
        //load lại data
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    }

    $('.btn-add-user-in-group').on('click', function () {
        $('input[name=hdfId]').val(0);
        $('#txt-username').val("");
        $('#txt-fullname').val("");
        $('#txt-phone').val("");
        $('#ddl-old').val("");
        $('#txt-email').val("");
        $('#txt-dob').val("");
        $('#txt-address').val("");
        $('#ddl-gender').val("");
        $('#ddl-role').val("");
        $('#txt-cmnd').val("");
        $('#txt-pwd').val("");
        $('txt-pwdconfirm').val("");
        $('#modal-user-in-group').modal('show');
    });
    $(document).on('click', '.btn-edit-user-in-group', function () {
        $('input[name=hdfId]').val($(this).attr('data-id'));
        $('input[name=txt-name]').val($(this).attr('data-name'));
        var price = format_money($(this).attr('data-price'));
        $('input[name=txt-price]').val(price);
        $('#modal-user-in-group').modal('show');
    });
    $('.btn-save-user-in-group').click(function () {
        const id = $('input[name=hdfId]').val();
        const username = $('#txt-username').val();
        const fullname = $('#txt-fullname').val();
        const phone = $('#txt-phone').val();
        const old = $('#ddl-old').val();
        const email = $('#txt-email').val();
        const dob = $('#txt-dob').val();
        const address = $('#txt-address').val();
        const gender = $('#ddl-gender').val();
        const role = $('#ddl-role').val();
        const pwd = $('#txt-pwd').val();
        const pwdconfirm = $('#txt-pwdconfirm').val();
        const cmnd = $('#txt-cmnd').val();
        console.log(id);
        console.log(fullname);
        console.log(username);
        console.log(phone);
        console.log(old);
        console.log(email);
        console.log(dob);
        console.log(address);
        console.log(gender);
        console.log(role);
        console.log(cmnd);
        console.log(pwd);
        console.log(pwdconfirm);
        if (ckstring(fullname) || ckstring(username) || ckstring(phone) || ckstring(old) || ckstring(username) || ckstring(email) || ckstring(dob) || ckstring(address) || ckstring(gender) || ckstring(role) || ckstring(cmnd) || ckstring(pwd) || ckstring(pwdconfirm)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {
            $(this).prop('disabled', true);
            insert_or_update(id, username, fullname, phone, old, email, dob, address, gender, role, cmnd, pwd, pwdconfirm)
        }
    });
    function insert_or_update(id, username, fullname, phone, old, email, dob, address, gender, role, cmnd, pwd, pwdconfirm) {
        let data = {};
        data["id"] = id;
        data["userName"] = username;
        data["fullName"] = fullname;
        data["phone"] = phone;
        data["age"] = old;
        data["email"] = email;
        data["birthDate"] = dob.split("/").reverse().join("-");
        data["address"] = address;
        data["gender"] = gender;
        let userGroupIds = [];
        userGroupIds.push(role);
        data["userGroupIds"] = userGroupIds;
        //data["price"] = cmnd;
        data["password"] = pwd;
        data["confirmPassWord"] = pwdconfirm;
        data["status"] = 0;
        data["isAdmin"] = false;
        data["deleted"] = false;
        data["active"] = true;
        console.log(dob.split("/").reverse().join("-"));
        let type_request = '';
        if (ckstring(id) || id == 0) {
            type_request = 'POST';
        }
        else {
            type_request = 'PUT';
        }
        $('#modal-user-in-group').modal('hide');
        $.ajax({
            url: '@Model.Domain'+'api/user',
            data: JSON.stringify(data),
            type: type_request,
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                load_data(get_api(page_index, page_size, SearchContent, OrderBy));
                if (type_request == 'POST') {
                    Swal.fire(
                        'Thông báo!',
                        'Thêm dữ liệu thành công!',
                        'success'
                    );
                }
                else if (type_request == 'PUT') {
                    Swal.fire(
                        'Thông báo!',
                        'Cập nhật dữ liệu thành công!',
                        'success'
                    );
                }
                $('.btn-save-user-in-group').prop('disabled', false);
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Thông báo!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                $('.btn-save-user-in-group').prop('disabled', false);
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
</script>