@model CoreModel
<style>
    .table__filter__wrap .table tr th, .table__filter__wrap .table tr td {
        min-width: 80px;
    }
</style>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">Quản lý người dùng theo nhóm</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Danh sách người dùng theo nhóm</h4>
        </div>
    </div>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap">
                <div class="table__filter-header">
                    <div class="table__header-left">
                        @*<a href="javascript:;" class="btn btn-primary btn-add-user-in-group" data-toggle="modal"><i class="fas fa-plus-circle"></i> Thêm mới</a>*@
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="search__box control mg-md-r-5">
                                <input type="text" class="form-control search__box-area input-style" name="search" placeholder="Tìm kiếm...">
                                <a href="javascript:;" class="search__box-icon" id="btn-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="select-sort">
                                <span>Sắp xếp: </span>
                                <select name="" class="form-control" onchange="sort_data(this.value)">
                                    <option value="0">Tên người dùng A-Z↓</option>
                                    <option value="1">Tên người dùng Z-A↑</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__filter-wrap">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped  border">
                            <thead class="">
                                <tr class="tr-header-table">
                                    <th class="sort-label" data-column="col-name">Tên truy cập</th>
                                    <th class="sort-label" data-column="col-electronic">Tên đầy đủ</th>
                                    <th class="sort-label " data-column="col-service">Thuộc nhóm</th>
                                    @*<th class="sort-label text-table-center" data-column="col-service">Thao tác</th>*@
                                </tr>
                            </thead>
                            <tbody id="tbody-user-in-group">
                            </tbody>
                        </table>
                    </div>
                    @await Html.PartialAsync("_PaginationPartial")
                </div>
            </div>
        </div>
    </div><!-- row -->
</div>
<div class="modal fade modal-nopadding-right" id="modal-user-in-group" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i class="fas fa-car-side mr-3"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase"></h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Thêm </p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <input type="hidden" name="hdfId" value="0" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tiệc ích<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-name" required class="form-control" placeholder="Ví dụ: Tủ lạnh">
                        </div>
                    </div><div class="row">
                        <div class="col-sm-12">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Phí<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-price" required class="form-control" data-type="currency" placeholder="Ví dụ: 50,000">
                        </div>
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-save-user-in-group">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script>
    let page_index = 1;
    let page_size = 10;
    let SearchContent = '';
    let OrderBy = 0;
    let token = '@Model.Token';
    let domain = '@Model.Domain';
    domain += 'api/user-in-group';
    let total_item = 0;
    let total_page = 0;
    //Tạo hoặc làm mới api
    function get_api(PageIndex, PageSize, SearchContent, OrderBy) {
        return domain + '?&PageIndex=' + PageIndex + '&PageSize=' + PageSize + '&SearchContent=' + SearchContent + '&OrderBy=' + OrderBy;
    }
    $(document).ready(function () {
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    });
    //Load dữ liệu theo api
    function load_data(api) {
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: api,
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            success: function (data, status, xhr) {
                //console.log('data: ', data);
                let list = data.Data.Items;
                console.log('list: ', list);
                let html = '';
                for (let i = 0; i < list.length; i++) {
                    let item = list[i];
                    html += '<tr>';
                    html += '<td>' + item.UserName + '</td>';
                    html += '<td>' + item.FullName + ' </td>';
                    html += '<td>' + item.UserGroupName + '</td>';
                    //html += '<td class="text-table-center"><a href="javascript:;" data-id="' + item.Id + '" data-name="' + item.UserName + '" data-price="' + item.FullName + '" data-price="' + item.UserGroupName + '" class="btn-edit-user-in-group"  data-toggle="modal"><i class="fas fa-edit"></i></a></td>';
                    html += '</tr>';
                }
                $('#tbody-user-in-group').hide().html(html).show('slow');
                total_item = data.Data.TotalItem;
                total_page = data.Data.TotalPage;
                load_pagination(pagination(page_index, total_page), page_index, total_page, total_item);
            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    });

    //Enter tìm kiếm
    $('input[name=search]').keyup(function (event) {
        if (event.keyCode === 13) {
            SearchContent = $('input[name=search]').val();
            load_data(get_api(page_index, page_size, SearchContent, OrderBy));
        }
    });
    //Sắp xếp
    function sort_data(val) {
        OrderBy = val;
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    }
    //load phân trang
    $(function () {
        load_pagination(pagination(page_index, page_size), page_index, total_page, total_item);
    });
    //load khi bấm chuyển trang
    function load_to_page(index_click) {
        page_index = index_click;
        //load lại data
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    }

    $('.btn-add-user-in-group').on('click', function () {
        $('input[name=hdfId]').val(0);
        $('input[name=txt-name]').val('');
        $('input[name=txt-price]').val(0);
        $('#modal-user-in-group').modal('show');
    });
    $(document).on('click', '.btn-edit-user-in-group', function () {
        $('input[name=hdfId]').val($(this).attr('data-id'));
        $('input[name=txt-name]').val($(this).attr('data-name'));
        var price = format_money($(this).attr('data-price'));
        $('input[name=txt-price]').val(price);
        $('#modal-user-in-group').modal('show');
    });
    $('.btn-save-user-in-group').click(function () {
        const id = $('input[name=hdfId]').val();
        const name = $('input[name=txt-name]').val();
        const price = $('input[name=txt-price]').val().replaceAll(',', '');
        console.log(id);
        console.log(name);
        console.log(price);
        if (ckstring(name) || ckstring(price)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {
            $(this).prop('disabled', true);
            insert_or_update(id, name, price)
        }
    });
    function insert_or_update(Id, Name, Price) {
        let data = {};
        data["id"] = Id;
        data["name"] = Name; //I just wanted to show you how you can add values to a json object
        data["price"] = Price;

        let type_request = '';
        if (ckstring(Id) || Id == 0) {
            type_request = 'POST';
        }
        else {
            type_request = 'PUT';
        }
        $('#modal-user-in-group').modal('hide');
        $.ajax({
            url: domain,
            data: JSON.stringify(data),
            type: type_request,
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                load_data(get_api(page_index, page_size, SearchContent, OrderBy));
                if (type_request == 'POST') {
                    Swal.fire(
                        'Thông báo!',
                        'Thêm dữ liệu thành công!',
                        'success'
                    );
                }
                else if (type_request == 'PUT') {
                    Swal.fire(
                        'Thông báo!',
                        'Cập nhật dữ liệu thành công!',
                        'success'
                    );
                }
                $('.btn-save-user-in-group').prop('disabled', false);
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Thông báo!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                $('.btn-save-user-in-group').prop('disabled', false);
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
</script>