@model CoreModel
<style>
    /*input.form-control:disabled {
        background: none;
    }*/

    .room .room-header a.item-link {
        color: #46CED0;
    }

    .room-header .dropdown__wrap {
        right: 15px;
        position: absolute;
    }

    .room .room-info {
        padding-top: 30px;
    }

    .result-goout .tx-row .lb {
        flex: 0 0 250px;
    }

    .room .lb {
        margin-bottom: 2px;
    }

    .ls-room {
        text-align: left;
    }

    .form-control {
        height: initial;
    }

    /*.input-group-text {
        padding: initial;
    }*/
    /* BaoNguyen CSS*/
    .col-sm-12 {
        padding-bottom: 15px;
    }

    .col-sm-6 {
        margin-bottom: 20px;
    }
</style>
<div class="fixed-filter sticky-top">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item active" aria-current="page">Danh sách đơn hàng</li>
                    </ol>
                </nav>
                <h4 class="mg-b-15 tx-spacing--1">Đơn hàng</h4>

            </div>
        </div>
    </div>
</div>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap bd-t pd-t-15">
                <div class="table__filter-header mg-t-0-f">
                    <div class="table__header-left ">
                        <div class="search__box control mg-md-r-5">
                            <input type="text" class="form-control search__box-area input-style" name="search" placeholder="Tìm kiếm...">
                            <a href="javascript:;" class="search__box-icon" id="btn-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            

                            <div class="select-sort">
                                <span>Sắp xếp: </span>
                                <select name="" class="form-control" onchange="load_orderBy(this.value)">
                                    <option value="0">Ngày đăng ký ↓</option>
                                    <option value="1">Ngày đăng ký ↑</option>

                                    
                                </select>
                            </div>

                            
                            @*<div class="select-sort">
                                <span>Trạng thái: </span>
                                <select name="" class="form-control">
                                    <option value="">Đang đợi duyệt</option>
                                    <option value="">Đã Duyệt</option>
                                    <option value="">Bị Hủy Duyệt</option>
                                </select>
                            </div>*@
                            <div class="mg-b-15">
                                <a href="#" class="btn btn-style control js-toggle-filter" id="js-toggle-filter"><i class="fa fa-filter" aria-hidden="true"></i></a>
                                <a href="#" class="btn btn-style js-customize-column m-0" data-target="table-list-room"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg></a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="table__filter-form">
                    <div class="filter__form__wrap">
                        
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Gói dịch vụ</label>
                                <select name="" id="slc-package" class="form-control" onchange="load_Package(this.value)">
                                    <option value="" selected="">-Tất cả-</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Trạng thái: </label>
                                <select name="" class="form-control" onchange="load_Status(this.value)">
                                    <option value="" selected="">-Tất cả-</option>
                                    <option value="0">đợi duyệt</option>
                                    <option value="1">Đã Duyệt</option>
                                    <option value="2">Đã hủy</option>
                                    <option value="3">Đợi gia hạn</option>
                                    <option value="4">Đã gia hạn</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="filter__form-col">
                            <div class="form__group">
                                <label>Ngày đăng ký</label>
                                <div class="row from-to-group">
                                    <div class="col-6">
                                        <input type="text" class="form-control datetimepicker date-only from-date" placeholder="Từ ngày" autocomplete="off">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control datetimepicker date-only to-date" placeholder="Đến ngày" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter__form-col">
                            <div class="form__group">
                                <label>Ngày hết hạn</label>
                                <div class="row from-to-group">
                                    <div class="col-6">
                                        <input type="text" class="form-control datetimepicker date-only from-date" placeholder="Từ ngày" autocomplete="off">
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control datetimepicker date-only to-date" placeholder="Đến ngày" autocomplete="off">
                                    </div>
                                </div>

                            </div>
                        </div>*@
                    </div>
                    <div class="filter__form-submit">
                        <a href="javascript:;" class="btn btn-warning" id="js-filter-submit">Tìm nâng cao</a>
                    </div>
                </div>
                <div class="table__filter-wrap">

                    <div class="table-responsive table-userlist">
                    </div>
                    @await Html.PartialAsync("_PaginationPartial")
                </div>

            </div>

        </div>
    </div><!-- row -->
</div><!-- container -->
@await Html.PartialAsync("PartialView/_BaseScriptPartial")
<script>
    let Status = -1;
    let Package = -1;
    let orderBy = 0;
    let SearchContent = '';
    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data_package_user(1, 20, orderBy, SearchContent, Status, Package);
    });

    function load_Status(val) {
        Status = val;
        load_data_package_user(1, 20, orderBy, SearchContent, Status, Package);
    }
    function load_Package(val) {
        Package = val;
        load_data_package_user(1, 20, orderBy, SearchContent, Status, Package);
    }
    function load_orderBy(val) {
        orderBy = val;
        load_data_package_user(1, 20, orderBy, SearchContent, Status, Package);
    }
    $(function () {
        load_data_package_user(1, 20, orderBy, SearchContent, Status, Package);
    });
    function load_data_package_user(pageindex, pagesize, orderby, SearchContent, status, packageId) {
        var url_string = window.location.href; //
        var url = new URL(url_string);
        var UserId = url.searchParams.get("UserId");
        console.log(UserId);
        console.log(@Model.Users.TenantId);
        $.get('/PackageOfUser/PackageOfUserPartial?pageindex=' + pageindex + '&pagesize=' + pagesize + '&orderby=' + orderby + '&SearchContent=' + SearchContent + "&TenantId=" +@Model.Users.TenantId + "&UserId=" + UserId + "&Status=" + status + "&PackageId=" + packageId, function (data) {
            $('.table-userlist').html(data);
        });
    }
    //#region danh sách gói dịch vụ
    let api_load_package = 'api/Package?PageIndex=1&PageSize=20&OrderBy=0&TenantId=0';
    load_data_with_jquery(api_load_package).then(function (e) {
        console.log(e);
        let packages = e.Data.Items;
        select = document.getElementById('slc-package');
        for (let i = 0; i < packages.length; i++) {
            console.log(packages[i]);
            var opt = document.createElement('option');
            opt.value = packages[i].Id;
            opt.innerHTML = packages[i].Title;
            select.appendChild(opt);
        }
    })
    //#endregion
</script>
