
@model CoreModel
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">Trang chủ</li>
                </ol>
            </nav>
            <h4 class="mg-b-15 tx-spacing--1">Thống kê</h4>

        </div>
        @*<div class="d-none d-md-flex">
            <div class="form-group mb-0 mg-r-10">
                <select name="branch" id="jsft-branch" class="form-control">
                    <option value="#">Tất cả chi nhánh</option>
                    <option value="#">Chi nhánh 2</option>
                    <option value="#">Chi nhánh 3</option>
                </select>
            </div>
            <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"><i data-feather="sliders" class="wd-10 mg-r-5"></i> Lọc dữ liệu</button>
        </div>*@
    </div>
    <div class="row row-xs">
        <div class="col-lg-3 col-md-6 mg-b-10">
            <div class="card">
                <div class="card-body pd-y-20 pd-x-25">
                    <h3 class="tx-normal tx-rubik tx-spacing--1 mg-b-5 tx-28" id="count-cus"></h3>
                    <h6 class="tx-semibold tx-uppercase tx-spacing-1 tx-pink mg-b-5"><a href="javascript:;">Khách hàng</a></h6>
                    <p class="tx-11 tx-color-03 mg-b-0">Tổng số khách hàng hiện có</p>
                </div><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-lg-3 col-md-6 mg-b-10">
            <div class="card">
                <div class="card-body pd-y-20 pd-x-25">
                    <h3 class="tx-normal tx-rubik tx-spacing--1 mg-b-5 tx-28" id="count-packageofuser"></h3>
                    <h6 class="tx-semibold tx-uppercase tx-spacing-1 tx-pink mg-b-5"><a href="javascript:;">Gói cước đăng ký</a></h6>
                    <p class="tx-11 tx-color-03 mg-b-0">Tổng số gói khách hàng đăng ký</p>
                </div><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-lg-3 col-md-6 mg-b-10">
            <div class="card">
                <div class="card-body pd-y-20 pd-x-25">
                    <h3 class="tx-normal tx-rubik tx-spacing--1 mg-b-5 tx-28"><partial id="count-packageofuser-using"></partial> <span class="tx-color-04" id="count-packageofuser-hiden"></span></h3>
                    <h6 class="tx-semibold tx-uppercase tx-spacing-1 tx-pink mg-b-5"><a href="javascript:;">Gói cước sử dụng</a></h6>
                    <p class="tx-11 tx-color-03 mg-b-0">Tổng số gói khách hàng đang sử dụng</p>
                </div><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-lg-3 col-md-6 mg-b-10">
            <div class="card">
                <div class="card-body pd-y-20 pd-x-25">
                    <h3 class="tx-normal tx-rubik tx-spacing--1 mg-b-5 tx-28" id="count-staff"></h3>
                    <h6 class="tx-semibold tx-uppercase tx-spacing-1 tx-pink mg-b-5"><a href="javascript:;">Nhân viên</a></h6>
                    <p class="tx-11 tx-color-03 mg-b-0">Tổng số lượng nhân viên hiện có</p>
                </div><!-- card-body -->
            </div><!-- card -->
        </div><!-- col -->
        <div class="col-12 mg-b-30">
            <div class="card seperate-card">
                <div class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <p class="mg-b-5 tx-color-03"><span class="tx-medium tx-color-01">Tổng doanh thu</span></p>
                            <p class="tx-20 mg-b-0"> <span class="tx-success" id="tong-thu"></span> đ</p>
                        </div>
                        <div class="col-sm-8 ">
                            <div style="float:right">
                                <div class="d-flex align-items-center" style="float:right">
                                    <div class="d-flex">
                                        <div class="form-group mg-sm-b-0 mg-r-15 group-select">
                                            <label class="mg-b-0"><i class="fas fa-archive"></i></label>
                                            <select id="ddl-package" class="form-control">
                                                <option value="0">--- Tất cả ---</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex">
                                        <div class="form-group mg-sm-b-0 mg-r-15 group-select">
                                            <label class="mg-b-0">Năm</label>
                                            <select id="ddl-year" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- card-header -->
                <div class="card-body pd-lg-x-25 pd-lg-t-0">
                    <div class="row align-items-sm-end">
                        <div class="col-12">
                            <div class="chart-six" style="height:325px;">
                                <canvas id="js-customer-chart"></canvas>
                            </div>
                            <div id="legend-area"></div>
                        </div>
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
        <div class="col-12">
            <h4 class="mg-b-15 tx-spacing--1">Xem thống kê</h4>
            <div class="row">
                <div class="col-lg-3">
                    <div class="chart-ref">
                        <a href="#" class="link" rel="noopener"></a>
                        <span class="chart-image">
                            <img src="~/house/assets/img/line-chart.svg" alt="chart">
                        </span>
                        <h6>Thống kê doanh thu</h6>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="chart-ref">
                        <a href="#" class="link" rel="noopener"></a>
                        <span class="chart-image">
                            <img src="~/house/assets/img/spear-chart.svg" alt="chart">
                        </span>
                        <h6>Tỉ lệ lấp đầy</h6>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="chart-ref">
                        <a href="#" class="link" rel="noopener"> </a>
                        <span class="chart-image">
                            <img src="~/house/assets/img/bar-chart.svg" alt="chart">
                        </span>
                        <h6>Thống kê tăng trưởng</h6>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="chart-ref">
                        <a href="#" class="link" rel="noopener"></a>
                        <span class="chart-image">
                            <img src="~/house/assets/img/pie-chart.svg" alt="chart">
                        </span>
                        <h6>Thống kê loại Gói</h6>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="chart-ref">
                        <a href="#" class="link" rel="noopener"></a>
                        <span class="chart-image">
                            <img src="~/house/assets/img/spear-chart.svg" alt="chart">
                        </span>
                        <h6>Nhân viên và chi phí</h6>
                    </div>
                </div>
            </div>

        </div>
        <!-- Endd ====== ================ -->
    </div><!-- row -->
</div><!-- container -->

@await Html.PartialAsync("PartialView/_BaseScriptPartial",Model)
<script>

    // tải data
    var filterValues = {};
    $(document).ready(function () {
        //For padding between chart and legend
        Chart.Legend.prototype.afterFit = function () {
            this.height = this.height + 25;
        };
        //Random data
        function getRandom(length, min, max, currency) {
            const arr = [];
            for (let i = 0; i <= length; i++) {
                if (currency == true) {
                    arr[i] = Math.floor(Math.random() * (max - min) + min) * 1000;
                } else {
                    arr[i] = Math.floor(Math.random() * (max - min) + min);
                }
            }
            return arr;
        }
        const convertArrToFlotData = arr => {
            return arr.map((x, index) => {
                return [index, x];
            });
        }
        const currencyFormat = value => value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        var ctx1 = document.getElementById('js-customer-chart').getContext('2d');
        const shortMonth = ['TH1', 'TH2', 'TH3', 'TH4', 'TH5', 'TH6', 'TH7', 'TH8', 'TH9', 'TH10', 'TH11', 'TH12'];
        const longMonth = ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'];
        const revenueChart = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: longMonth,
                datasets: [{
                    label: 'Doanh thu',
                    data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                    //data: [],
                    backgroundColor: '#15af76',
                    borderColor: '#15af76',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                maintainAspectRatio: false,
                title: {
                    text: 'Doanh thu năm nay',
                    display: true,
                    position: 'top'
                },
                legend: {
                    display: true,
                    labels: {
                        display: true,
                        padding: 20,
                    },
                    position: 'bottom',
                },
                legendCallback: function (chart) {
                    var text = [];
                    text.push('<ul class="' + chart.id + '-legend legend-chart">');
                    for (let i = 0; i < chart.data.datasets.length; i++) {
                        text.push('<li><span class="block-color" style="background-color:' +
                            chart.data.datasets[i].backgroundColor + '"></span>');
                        if (chart.data.datasets[i].label) {
                            text.push(chart.data.datasets[i].label);
                        }
                        text.push('</li>');
                    }
                    text.push('</ul>');
                    return text.join("");
                },

                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {
                            display: true
                        },
                        barPercentage: 0.5
                    }],
                    yAxes: [{
                        gridLines: {
                            dipslay: true,
                            color: '#ebeef3'
                        },
                        ticks: {
                            fontColor: '#8392a5',
                            fontSize: 10,
                            callback: function (value, index, values) {
                                if (parseInt(value) >= 1000000 && parseInt(value) < 1000000000) {
                                    return (value / 1000000).toString().replace(
                                        /\B(?=(\d{3})+(?!\d))/g,
                                        ",") + ' Triệu';
                                } else if ((parseInt(value) >= 1000000000)) {
                                    return (value / 1000000000).toString().replace(
                                        /\B(?=(\d{3})+(?!\d))/g, ",") + ' Tỉ';
                                }
                                return value;
                            }
                        }
                    }]
                },
                tooltips: {
                    mode: 'index',
                    intersect: true,
                    callbacks: {
                        label: function (tooltipItem, data) {
                            //  console.log(data);
                            //  console.log(tooltipItem);
                            var label = data.datasets[tooltipItem.datasetIndex].label;
                            var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];

                            if (parseInt(value) >= 1000) {
                                return label + ': ' + value.toString().replace(
                                    /\B(?=(\d{3})+(?!\d))/g, ",") + ' VNĐ';
                            } else {
                                return label + ': ' + value + ' VNĐ';
                            }

                        }
                    }
                },
            }
        });


        let monthRevenue = getRandom(30, 1000, 2000, true);
        let dataCurrentMonth = convertArrToFlotData(monthRevenue); //Data for test
        let totalRevenueMonth = monthRevenue.reduce((value, cur) => value + cur, 0);
        let thisMonthRevenue = document.getElementById('total-revenue-month');
        // let legendArea = document.getElementById('legend-area');
        thisMonthRevenue ? thisMonthRevenue.textContent = currencyFormat(totalRevenueMonth) : null;
        // legendArea.innerHTML = revenueChart.generateLegend();


        const showSeperate = event => {
            let target = event.target;
            let card = target.closest('.seperate-card');
            card.classList.add('show');
        }
        const closeSeperate = event => {
            let target = event.target;
            let card = target.closest('.seperate-card');
            card.classList.remove('show');
        }
        let seperateBtn = document.querySelectorAll('.show-seperate');
        let closeBtn = document.querySelectorAll('.close-seperate');
        [...seperateBtn].map(btn => btn.addEventListener('click', showSeperate));
        [...closeBtn].map(btn => btn.addEventListener('click', closeSeperate));

        // load chart
        loadchart();
        function loadchart() {
            let packageId = $("#ddl-package").val();
            let year = $("#ddl-year").val();
            let api_load_reportPackageOfUser = 'api/PackageOfUser/ReportPackageOfUser?Year=' + year +'&PackageId=' + packageId;
            load_data_with_jquery(api_load_reportPackageOfUser).then(function (e) {
                let Report = [];
                let Total = 0;
                for (let i = 0; i < e.Data.length; i++) {
                    if (e.Data[i].doanhthu != null) {
                        Report.push(e.Data[i].doanhthu);
                        Total += e.Data[i].doanhthu;
                    }
                    else {
                        Report.push(0);
                        Total += 0;
                    }
                }
                revenueChart.data.datasets[0].data = Report;
                revenueChart.update();

                $('#tong-thu').text(format_money(Total));
            });

        }
        //#region bắt sự kiện khi thay đổi năm
        $('#ddl-package').on('change', function () {
            loadchart();
        })
        $('#ddl-year').on('change', function () {
            loadchart();
        })
        
        //#endregion
    });
</script>
<script>
    //#region số lượng khách hàng
    let api_getCountCustomer = 'api/user?UserGroupId=3&RoleNumber=3&PageIndex=1&PageSize=20&OrderBy=0&TenantId=0';
    load_data_with_jquery(api_getCountCustomer).then(function (e) {
        console.log(e.Data.TotalItem);
        $('#count-cus').html(e.Data.TotalItem);
    })
    //#endregion
    //#region số lượng nhân viên
    let api_getCountStaff = 'api/user?UserGroupId=2&RoleNumber=2&PageIndex=1&PageSize=20&OrderBy=0&TenantId=0';
    load_data_with_jquery(api_getCountStaff).then(function (e) {
        console.log(e.Data.TotalItem);
        $('#count-staff').html(e.Data.TotalItem);
    })
    //#endregion
    //#region số lượng gói đã đăng ký
    let api_getCountPackageOfUser = 'api/PackageOfUser?PageIndex=1&PageSize=20&OrderBy=0&TenantId=0';
    load_data_with_jquery(api_getCountPackageOfUser).then(function (e) {
        console.log(e.Data.TotalItem);
        $('#count-packageofuser').html(e.Data.TotalItem);
        $('#count-packageofuser-hiden').html('/ ' + e.Data.TotalItem);
    })
    //#endregion
    //#region số lượng gói đang được người dùng sử dụng
    let api_getCountPackageOfUser_Using = 'api/PackageOfUser?Status=1&PageIndex=1&PageSize=20&OrderBy=0&TenantId=0';
    load_data_with_jquery(api_getCountPackageOfUser_Using).then(function (e) {
        console.log(e.Data.TotalItem);
        $('#count-packageofuser-using').html(e.Data.TotalItem);
    })
    //#endregion
</script>
<script>

    //#region danh Gói cước
    let api_load_list_branch = 'api/Package?PageIndex=1&PageSize=20&OrderBy=0&TenantId=@Model.Users.TenantId';
    load_data_with_jquery(api_load_list_branch).then(function (e) {
        console.log(e);
        let list = e.Data.Items;
        select = document.getElementById('ddl-package');
        for (let i = 0; i < list.length; i++) {
            var opt = document.createElement('option');
            opt.value = list[i].Id;
            opt.innerHTML = list[i].Title;
            select.appendChild(opt);
        }
    })
    //#endregion

    //#region danh sách năm
    let date = new Date();
    select = document.getElementById('ddl-year');
    for (let i = date.getFullYear() -10 ; i < date.getFullYear()+1; i++) {
            var opt = document.createElement('option');
            opt.value = i;
            opt.innerHTML = i;
            select.appendChild(opt);
    }
    $('#ddl-year').val(date.getFullYear()).change();
    //#endregion


</script>