@using Microsoft.AspNetCore.Http
@{
    string token = Context.Session.GetString("token");
    string domain = Context.Session.GetString("domain");
}
<style>
    .table__filter__wrap .table tr th, .table__filter__wrap .table tr td {
        min-width: 80px;
    }
</style>
<input type="hidden" name="txt-cityId" value="@ViewBag.cityId" />
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="@Url.Action("Cities", "Config", new { area = "" })">Danh sách Tỉnh/TP</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh sách Quận/Huyện</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Danh sách Quận/Huyện</h4>
        </div>
    </div>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap">
                <div class="table__filter-header">
                    <div class="table__header-left">
                        <div class="search__box control mg-md-r-5">
                            <input type="text" class="form-control search__box-area input-style" name="search" placeholder="Tìm kiếm...">
                            <a href="javascript:;" class="search__box-icon" id="btn-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="select-sort">
                                <span>Sắp xếp: </span>
                                <select name="" class="form-control" onchange="sort_data(this.value)">
                                    <option value="0">Tên Quận/Huyện A-Z↓</option>
                                    <option value="1">Tên Quận/Huyện Z-A↑</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__filter-wrap">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped  border">
                            <thead class="">
                                <tr class="tr-header-table">
                                    <th class="sort-label" data-column="col-name">Tên Tỉnh/TP</th>
                                    <th class="sort-label" data-column="col-electronic">Tên Quận/Huyện</th>
                                    @*<th class="sort-label text-table-center" data-column="col-water">Mã Quận/Huyện</th>*@
                                    <th class="sort-label " data-column="col-service">Mô tả</th>
                                    <th class="sort-label text-table-center" data-column="col-service">Phường/Xã</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-districts">
                            </tbody>
                        </table>
                    </div>
                    <span class="span-row-page"><b>0/Trang</b></span>
                    <nav aria-label="Page navigation text-right" class="page-nav">
                        <ul class="pagination mg-b-0"></ul>
                    </nav>
                    <span class="span-totalrow"><b>Tổng cộng: 0</b></span>
                </div>
            </div>
        </div>
    </div><!-- row -->
</div>
<script>
    let PageIndex = 1;
    let PageSize = 15;
    let SearchContent = '';
    let OrderBy = 0;
    let token = '@token';
    let domain = '@domain';
    domain += 'api/catalogue/get-district-catalogue/cityId';
    let totalItem = 0;
    let totalPage = 0;
    //Tạo hoặc làm mới api
    let cityId = $('input[name="txt-cityId"]').val();
    function get_api(PageIndex, PageSize, SearchContent, OrderBy) {
        return domain + '?cityId=' + cityId + '&PageIndex=' + PageIndex + '&PageSize=' + PageSize + '&SearchContent=' + SearchContent + '&OrderBy=' + OrderBy;
    }
    $(document).ready(function () {
        load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
    });
    //Load dữ liệu theo api
    function load_data(api) {
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: api,
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            success: function (data, status, xhr) {
                //console.log('data: ', data);
                let list = data.Data.Items;
                //console.log('list: ', list);
                let html = '';
                for (let i = 0; i < list.length; i++) {
                    let item = list[i];
                    html += '<tr>';
                    html += '<td>' + item.CityName + '</td>';
                    html += '<td>' + item.Name + '</td>';
                    /*html += '<td class="text-table-center">' + item.Code + '</td>';*/
                    html += '<td>' + item.Description + '</td>';
                    html += '<td class="text-table-center"><a href="/Config/Wards?id=' + item.Id +'&ctityId='+item.CityId+'"><i class="fas fa-arrow-circle-right"></i></a></td>';
                    html += '</tr>';
                }
                $('#tbody-districts').html(html);
                totalItem = data.Data.TotalItem;
                totalPage = data.Data.TotalPage;
                load_page(pagination(PageIndex, totalPage), PageIndex, totalPage);
            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
    });

    //Enter tìm kiếm
    $('input[name=search]').keyup(function (event) {
        if (event.keyCode === 13) {
            SearchContent = $('input[name=search]').val();
            load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
        }
    });
    //Sắp xếp
    function sort_data(val) {
        OrderBy = val;
        load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
    }

    function pagination(c, m) {
        var current = c,
            last = m,
            delta = 2,
            left = current - delta,
            right = current + delta + 1,
            range = [],
            rangeWithDots = [],
            l;

        for (let i = 1; i <= last; i++) {
            if (i == 1 || i == last || i >= left && i < right) {
                range.push(i);
            }
        }

        for (let i of range) {
            if (l) {
                if (i - l === 2) {
                    rangeWithDots.push(l + 1);
                } else if (i - l !== 1) {
                    rangeWithDots.push('...');
                }
            }
            rangeWithDots.push(i);
            l = i;
        }

        return rangeWithDots;
    }

    function load_page(_pagination, _pageIndex, _totalPage) {
        if (totalItem > 0) {
            $('.span-totalrow').html('<b>Tổng cộng: ' + totalItem + '</b>');
            $('.span-row-page').html('<b>' + PageSize + '/Trang</b>');
            $('.pagination').html('');
            if (_pageIndex != 1) {
                let back = _pageIndex - 1;
                $('.pagination').append('<li class="page-item">');
                $('.pagination').append('<a class="page-link-icon" onclick="load_data_page(' + back + ')" href="javascript:;"> <<');
                $('.pagination').append('</a>');
                $('.pagination').append('</li>');
            }
            for (let i of _pagination) {
                if (i == '...') {
                    $('.pagination').append('<li class="page-item span-totalrow">...</a></li>');
                }
                else if (i == _pageIndex) {
                    $('.pagination').append('<li class="page-item active"><a class="page-link" onclick="load_data_page(' + i + ')" href="javascript:;">' + i + '</a></li>');

                } else {
                    $('.pagination').append('<li class="page-item"><a class="page-link" onclick="load_data_page(' + i + ')" href="javascript:;">' + i + '</a></li>');
                }
            }
            if (_pageIndex != _totalPage) {
                let next = _pageIndex + 1;
                $('.pagination').append('<li class="page-item">');
                $('.pagination').append('<a class="page-link-icon" onclick="load_data_page(' + next + ')" href="javascript:;"> >>');
                $('.pagination').append('</a>');
                $('.pagination').append('</li>');
            }
        }
    }
    function load_data_page(val) {
        PageIndex = val;
        load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
        load_page(pagination(PageIndex, totalPage), PageIndex, totalPage);
    }
</script>

