@using Microsoft.AspNetCore.Http
@{
    string token = Context.Session.GetString("token");
    string domain = Context.Session.GetString("domain");
}
<style>
    .table__filter__wrap .table tr th, .table__filter__wrap .table tr td {
        min-width: 80px;
    }
</style>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between ">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item active" aria-current="page">Cấu hình phí gửi xe</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Danh sách Tỉnh/TP</h4>
        </div>
    </div>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap">
                <div class="table__filter-header">
                    <div class="table__header-left">
                        <div class="search__box control mg-md-r-5">
                            <input type="text" class="form-control search__box-area input-style" name="search" placeholder="Tìm kiếm...">
                            <a href="javascript:;" class="search__box-icon" id="btn-search"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="select-sort">
                                <span>Sắp xếp: </span>
                                <select name="" class="form-control" onchange="sort_data(this.value)">
                                    <option value="0">Loại xe A-Z↓</option>
                                    <option value="1">Loại xe Z-A↑</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table__filter-wrap">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped  border">
                            <thead class="">
                                <tr class="tr-header-table">
                                    <th class="sort-label" data-column="col-name">Loại xe</th>
                                    <th class="sort-label" data-column="col-electronic">Phí gửi</th>
                                    <th class="sort-label " data-column="col-service">Người tạo</th>
                                    <th class="sort-label text-table-center" data-column="col-service">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-city">
                            </tbody>
                        </table>
                    </div>
                    @await Html.PartialAsync("_PaginationPartial")
                </div>
            </div>
        </div>
    </div><!-- row -->
</div>
<script>
    let page_index = 1;
    let page_size = 20;
    let SearchContent = '';
    let OrderBy = 0;
    let token = '@token';
    let domain = '@domain';
    domain += 'api/VehicleFeeConfig';
    let total_item = 0;
    let total_page = 0;
    //Tạo hoặc làm mới api
    function get_api(PageIndex, PageSize, SearchContent, OrderBy) {
        return domain + '?&PageIndex=' + PageIndex + '&PageSize=' + PageSize + '&SearchContent=' + SearchContent + '&OrderBy=' + OrderBy;
    }
    $(document).ready(function () {
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    });
    //Load dữ liệu theo api
    function load_data(api) {
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: api,
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            success: function (data, status, xhr) {
                //console.log('data: ', data);
                let list = data.Data.Items;
                //console.log('list: ', list);
                let html = '';
                for (let i = 0; i < list.length; i++) {
                    let item = list[i];
                    html += '<tr>';
                    html += '<td>' + item.Name + '</td>';
                    html += '<td>' + format_money(item.Price) + '</td>';
                    html += '<td>' + item.CreatedBy + '</td>';
                    html += '<td class="text-table-center"><a href="#"><i class="fas fa-arrow-circle-right"></i></a></td>';
                    html += '</tr>';
                }
                $('#tbody-city').html(html);
                total_item = data.Data.TotalItem;
                total_page = data.Data.TotalPage;
                load_pagination(pagination(page_index, total_page), page_index, total_page, total_item);
            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
    //nút tìm kiếm
    $('#btn-search').on('click', function () {
        SearchContent = $('input[name=search]').val();
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    });

    //Enter tìm kiếm
    $('input[name=search]').keyup(function (event) {
        if (event.keyCode === 13) {
            SearchContent = $('input[name=search]').val();
            load_data(get_api(page_index, page_size, SearchContent, OrderBy));
        }
    });
    //Sắp xếp
    function sort_data(val) {
        OrderBy = val;
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    }
    //load phân trang
    $(function () {
        load_pagination(pagination(page_index, page_size), page_index, total_page, total_item);
    });
    //load khi bấm chuyển trang
    function load_to_page(index_click) {
        page_index = index_click;
        //load lại data
        load_data(get_api(page_index, page_size, SearchContent, OrderBy));
    }
</script>