@using Microsoft.AspNetCore.Http
@{
    string token = Context.Session.GetString("token");
    string domain = Context.Session.GetString("domain");
}

<style>
    .house-item img {
        width: 180px;
        height: 208px;
        object-fit: inherit;
    }

    .table__filter__wrap .table tr th, .table__filter__wrap .table tr td {
        min-width: 80px;
    }

    .house-item .house-meta {
        font-size: 15px;
    }

        .house-item .house-meta .lb {
            color: #484848;
        }

    th {
        font-weight: bold !important;
    }

    p {
        margin-bottom: 5px;
    }

    .table__filter__wrap .table-centered tr th, .table__filter__wrap .table-centered tr td {
        text-align: left
    }

    .modal-dialog {
        max-width: 50%
    }
</style>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <h4 class="mg-b-15 tx-spacing--1">DANH SÁCH TÒA NHÀ</h4>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap ">
                <div class="table__filter-header mg-t-0-f">
                    <div class="table__header-left">
                        <a href="javascript:;" class="btn btn-primary btn-add-branch"><i class="fas fa-home"></i> Thêm nhà - Dãy trọ</a>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="search__box control mg-md-r-5">
                                <input type="text" name="search" class="form-control search__box-area input-style" placeholder="Tìm kiếm..." value="@ViewBag.Search" />
                                <a href="javascript:;" id="btn-search" class="search__box-icon "><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="house-layout-list mg-t-15">
                    <div class="row table-branchlist">
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- row -->

<div class="modal fade" id="modal-branch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i data-feather="home" class="wd-60 ht-60"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase">Tòa nhà/dãy trọ</h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Thêm sửa tòa nhà/dãy trọ vào danh sách</p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên nhà/dãy trọ:</label>
                            <input type="text" name="txt-house-name" required class="form-control" placeholder="Ví dụ: Khu nhà A">
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Loại:</label>
                            <select name="dll-house-type" class="form-control">
                                <option value="1">Cửa hàng - Kiot</option>
                                <option value="2">Nhà trọ</option>
                                <option value="3">Nhà nguyên căn</option>
                                <option value="4">Ký túc xá</option>
                                <option value="5">HomeStay</option>
                                <option value="6">Chung cư</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tỉnh/TP:</label>
                            <select name="dll-house-area" class="form-control">
                                <option value="0">-----</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Quận/Huyện:</label>
                            <select name="dll-house-district" class="form-control">
                                <option value="0">-----</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Phường/Xã:</label>
                            <select name="dll-house-ward" class="form-control">
                                <option value="0">-----</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-12">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ:</label>
                            <input type="text" name="txt-house-address" class="form-control" placeholder="Ví dụ: 373/226 Lý Thường Kiệt, P8, Q. Tân Bình, HCM">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Quy định:</label>
                    <textarea rows="2" name="txt-house-description" class="form-control" placeholder="Ví dụ: Đóng cửa trước 22h và mở cửa lúc 5h sáng..."></textarea>
                </div>
                <div class="form-group">
                    <div class="upload-box mg-b-20">
                        <a href="javascript:;" class="btn btn-outline-primary btn-upload btn-block">
                            <i data-feather="camera" class="mg-r-5"></i> Ảnh nhà - dãy trọ
                        </a>
                        <input type="file" name="electricimg" class="hidden upload-image-temp remove-item" accept="image/*">
                        <input type="hidden" name="hdfImage" class="hdfIMG" />
                        <div class="preview-image preview-electric"></div>
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-save-branch">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade" id="modal-add-room" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="javascript:;" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i data-feather="home" class="wd-60 ht-60"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase">Thêm phòng mới</h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Thêp mới phòng mới vào nhà/dãy trọ.</p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
                <div class="form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Nhà/Dãy trọ:</label>
                    <select name="ddl-house" class="form-control" required>
                        <option value="">---Chọn nhà/dãy trọ---</option>
                        @*@{
                                foreach (var item in houses)
                                {
                                    <option value="@item.ID">@item.MotelName</option>
                                }
                            }*@
                    </select>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên Phòng:</label>
                        <input type="text" name="txt-room-name" required class="form-control" placeholder="Ví dụ: Phòng 105">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giá/Tháng:</label>
                        <input type="text" name="txt-room-price" required class="form-control" placeholder="Ví dụ: 3,000,000" data-type="currency">
                    </div>
                </div>
                <div class="form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Mô tả:</label>
                    <input type="text" name="txt-room-description" class="form-control" placeholder="Ví dụ: Nhà cho ở tối đa 10 người">
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giá điện / kW</label>
                        <input type="text" name="txt-room-electrict" required class="form-control" placeholder="4,000/kW" data-type="currency">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Giá nước / m<sup>3</sup></label>
                        <input type="text" name="txt-room-water" required class="form-control" placeholder="15,000" data-type="currency">
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="submit" class="btn btn-primary">Tạo mới</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<!--Gọi js upload hình-->
@await Html.PartialAsync("_ScriptUploadImagePartial")

<script>
    $(function () {
        load_data(1, 20, 0);
    });

    function load_data(pageindex, pagesize, orderby) {
        $.get('/branch/BranchListPartial?pageindex=' + pageindex + '&pagesize=' + pagesize + '&orderby=' + orderby, function (data) {
            $('.table-branchlist').html(data);
        });
    }
</script>
<script>
    let PageIndex = 1;
    let PageSize = 20;
    let SearchContent = '';
    let OrderBy = 0;
    let token = '@token';
    let domain = '@domain';
    domain += 'api/Branch';

    $('.btn-add-branch').on('click', function () {
        $('input[name=hdfId]').val(0);
        $('input[name=txt-house-name]').val('');
        $('input[name=txt-house-address]').val('');
        $('select[name=dll-house-type]').val(1);
        $('textarea[name=txt-house-description]').val('');
        $('input[name=hdfImage]').val('');
        $('#modal-branch').modal('show');
    });

    //Thêm mới nhà / dãy trọ
    $('.btn-save-branch').click(function () {
        const id = $('input[name=hdfId]').val();
        const name = $('input[name=txt-house-name]').val();
        const type = $('select[name=dll-house-type]').val();
        const address = $('input[name=txt-house-address]').val();
        const description = $('textarea[name=txt-house-description]').val();
        const link_img = $('input[name=hdfImage]').val();
        if (ckstring(name) || ckstring(link_img)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {
            $(this).prop('disabled', true);
            insert_or_update(id, name, type, address, description, link_img)
        }
    });

    function insert_or_update(Id, name, type, address, description, link_img) {
        let data = {};
        console.log(Id, name, type, address, description, link_img);
        data["id"] = Id;
        data["name"] = name; //I just wanted to show you how you can add values to a json object
        data["type"] = type;
        data["address"] = address;
        data["linkImage"] = link_img;
        data["description"] = description;

        let type_request = '';
        if (ckstring(Id) || Id == 0) {
            type_request = 'POST';
        }
        else {
            type_request = 'PUT';
        }
        $.ajax({
            url: domain,
            data: JSON.stringify(data),
            type: type_request,
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                //load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
                $('#modal-branch').modal('hide');
                if (type_request == 'POST') {
                    Swal.fire(
                        'Thông báo!',
                        'Thêm dữ liệu thành công!',
                        'success'
                    );
                }
                else if (type_request == 'PUT') {
                    Swal.fire(
                        'Thông báo!',
                        'Cập nhật dữ liệu thành công!',
                        'success'
                    );
                }
                $('.btn-save-branch').prop('disabled', false);
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Thông báo!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                $('.btn-save-branch').prop('disabled', false);
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
</script>


