@model CoreModel
<style>
    .house-item img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .table__filter__wrap .table tr th, .table__filter__wrap .table tr td {
        min-width: 80px;
    }

    .house-item .house-meta {
        font-size: 15px;
    }

        .house-item .house-meta .lb {
            color: #484848;
        }

    th {
        font-weight: bold !important;
    }

    p {
        margin-bottom: 5px;
    }

    .table__filter__wrap .table-centered tr th, .table__filter__wrap .table-centered tr td {
        text-align: left
    }

    .modal-dialog {
        max-width: 50%
    }
    .fa-check-circle{
        font-size: 17px;
        color: #0da92a;
    }
    .pad-20{
        padding:10px;
    }
    .fa-times-circle
    {
        font-size: 17px;
        color: #ff0000;
    }
    
</style>
<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <h4 class="mg-b-15 tx-spacing--1">DANH SÁCH TÒA NHÀ</h4>
    <div class="row row-xs">
        <div class="col">
            <div class="table__filter__wrap ">
                <div class="table__filter-header mg-t-0-f">
                    <div class="table__header-left">
                        <a href="javascript:;" class="btn btn-primary btn-add-branch"><i class="fas fa-home"></i> Thêm nhà - Dãy trọ</a>
                    </div>
                    <div class="table__header-right">
                        <div class="header__right-action">
                            <div class="search__box control mg-md-r-5">
                                <input type="text" name="search" class="form-control search__box-area input-style" placeholder="Tìm kiếm..." value="@ViewBag.Search" />
                                <a href="javascript:;" id="btn-search" class="search__box-icon "><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="house-layout-list mg-t-15">
                    <div class="row table-branchlist">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div><!-- row -->

<div class="modal fade" id="modal-branch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i data-feather="home" class="wd-60 ht-60"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <input type="hidden" name="hdfId" value="0" />
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase">Tòa nhà/dãy trọ</h4>
                        <p class="tx-13 tx-color-03 mg-b-0">Thêm sửa tòa nhà/dãy trọ vào danh sách</p>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tên nhà/dãy trọ <span
                                    class="text-danger">(*)</span></label>
                            <input type="text" name="txt-house-name" required class="form-control" placeholder="Ví dụ: Khu nhà A">
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Loại <span class="text-danger">(*)</span></label>
                            <select name="dll-house-type" class="form-control">
                                <option value="1" selected>Cửa hàng - Kiot</option>
                                <option value="2">Nhà trọ</option>
                                <option value="3">Nhà nguyên căn</option>
                                <option value="4">Ký túc xá</option>
                                <option value="5">HomeStay</option>
                                <option value="6">Chung cư</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Loại hình thuê <span class="text-danger">(*)</span></label>
                            <select name="dll-rental-form" class="form-control">
                                <option value="1" selected>Bao phòng</option>
                                <option value="2">Ký túc xá</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tỉnh/TP <span class="text-danger">(*)</span></label>
                            <select id="dll-house-city" class="form-control">
                                <option value="0">-----</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Quận/Huyện <span class="text-danger">(*)</span></label>
                            <select name="dll-house-district" class="form-control">
                                <option value="0">-----</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Phường/Xã <span class="text-danger">(*)</span></label>
                            <select name="dll-house-ward" class="form-control">
                                <option value="0">-----</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tiền điện (tính theo KWH)<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-electricfee" required class="form-control" data-type="currency" placeholder="Ví dụ: 5,000">
                        </div>
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Loại tiền nước<span class="text-danger">(*)</span></label>
                            <select name="dll-waterfeetype" class="form-control">
                                <option value="1" selected>Phí trên người</option>
                                <option value="2">Tính khối</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tiền nước<span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-waterfee" required class="form-control" data-type="currency" placeholder="Ví dụ: 50,000">
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-12">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Địa chỉ <span class="text-danger">(*)</span></label>
                            <input type="text" name="txt-house-address" required class="form-control" placeholder="Ví dụ: 373/226 Lý Thường Kiệt, P8, Q. Tân Bình, HCM">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Quy định</label>
                    <textarea rows="2" name="txt-house-description" class="form-control" placeholder="Ví dụ: Đóng cửa trước 22h và mở cửa lúc 5h sáng..."></textarea>
                </div>
                <div class="form-group">
                    <div class="upload-boxs mg-b-20">
                        <a href="javascript:;" class="btn btn-outline-primary btn-uploads btn-block">
                            <i data-feather="camera" class="mg-r-5"></i> Ảnh nhà - dãy trọ
                        </a>
                        <input type="file" name="electricimg" class="hidden upload-image-temps remove-items" accept="image/*" multiple>
                        <div class="preview-image preview-electric"></div>
                    </div>
                </div>
                
            </div><!-- modal-body -->
            <div class="modal-body pd-sm-t-30 pd-sm-x-30" style="border-top: 1px solid #f1f1f1">
                    <div class="media-body mg-sm-l-20">
                        <h4 class="tx-18 tx-sm-20 mg-b-2 tx-uppercase">Dịch vụ đi kèm</h4>
                    </div>
                <div class="form-group">
                    <div class="row mg-t-10">
                        <div class="col-sm-12">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Phí giữ xe: </label>
                            <a href="#" class="ml-1" id="ck-isParkingFee"></a>
                            @* <a href="#" class="ml-1" id="ck-isParkingFee"><i class="fas fa-check-circle"></i></a><Span class="ml-2">Tính phí giữ xe</Span>
                            <a href="#" class="ml-1"><i class="fas fa-times-circle"></i><Span class="ml-2">Tính phí giữ xe</Span></a> *@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row mg-t-10">
                        <div class="col-sm-12">
                            <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">Tiện ích </label>
                        </div>
                    </div>
                    <div class="row mg-t-10">
                        <div class="col-sm-3 pad-20">
                            <a href="#" class="ml-1"><i class="fas fa-check-circle"></i><Span class="ml-2">Tủ lạnh</Span> </a>
                        </div>
                        <div class="col-sm-3 pad-20">
                            <a href="#" class="ml-1"><i class="fas fa-check-circle"></i><Span class="ml-2">Tủ lạnh</Span> </a>
                        </div>
                        <div class="col-sm-3 pad-20">
                            <a href="#" class="ml-1"><i class="fas fa-check-circle"></i><Span class="ml-2">Tủ lạnh</Span> </a>
                        </div>
                        <div class="col-sm-3 pad-20">
                            <a href="#" class="ml-1"><i class="fas fa-check-circle"></i><Span class="ml-2">Tủ lạnh</Span> </a>
                        </div>
                        <div class="col-sm-3 pad-20">
                            <a href="#" class="ml-1"><i class="fas fa-check-circle"></i><Span class="ml-2">Tủ lạnh</Span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary btn-save-branch">Lưu lại</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<!--Gọi js upload hình-->
@await Html.PartialAsync("_ScriptUploadImagePartial", Model)
<script>
    let PageIndex = 1;
    let PageSize = 20;
    let SearchContent = '';
    let OrderBy = 0;
    let token = '@Model.Token';
    let domain = '@Model.Domain';
    domain += 'api/Branch';

    $(function () {
        load_data(1, 20, 0);
    });

    function load_data(pageindex, pagesize, orderby) {
        $.get('/branch/BranchListPartial?pageindex=' + pageindex + '&pagesize=' + pagesize + '&orderby=' + orderby, function (data) {
            $('.table-branchlist').html(data);
        });
    }

    $('.btn-add-branch').on('click', function () {
        $('input[name=hdfId]').val(0);
        $('input[name=txt-house-name]').val('');
        $('input[name=txt-house-address]').val('');
        $('select[name=dll-house-type]').val(1);
        $('textarea[name=txt-house-description]').val('');
        $('input[name=hdfImage]').val('');
        $('#modal-branch').modal('show');
    });

    //load chi tiết nhà/dãy trọ
    $(document).on('click', '.btn-detail-house', function () {
        const data = JSON.parse($(this).attr('data-json'));
        $('input[name=hdfId]').val(data['Id']);
        $('input[name=txt-house-name]').val(data['Name']);
        $('select[name=dll-house-type]').val(data['Type']);
        $('input[name=txt-house-address]').val(data['Address']);
        $('textarea[name=txt-house-description]').val(data['Description']);
        $('#modal-branch').modal('show');
    });

    //Thêm mới nhà / dãy trọ
    $(document).on('click', '.btn-save-branch', function () {
        const id = $('input[name=hdfId]').val();
        const name = $('input[name=txt-house-name]').val();
        const type = $('select[name=dll-house-type]').val();
        const address = $('input[name=txt-house-address]').val();
        const description = $('textarea[name=txt-house-description]').val();
        //cho image vào list
        let list_images = [];
        $('.preview-image .image-wrap').each(function () {
            let img = $(this).find('.image-box').find('a').attr('data-name');
            let singleObj = {};
            singleObj['link'] = img;
            list_images.push(singleObj);
        });
        //kiểm tra ràng buộc bắt buộc nhập
        if (ckstring(name) || ckstring(list_images)) {
            Swal.fire(
                'Cảnh báo',
                'Vui lòng nhập đầy đủ thông tin!',
                'warning'
            )
        }
        else {
            $(this).prop('disabled', true);
            insert_or_update(id, name, type, address, description, list_images)
        }
    });

    function insert_or_update(Id, name, type, address, description, list_images) {
        let data = {};
        //console.log(Id, name, type, address, description, list_images);
        data["id"] = Id;
        data["name"] = name; //I just wanted to show you how you can add values to a json object
        data["type"] = type;
        data["address"] = address;
        data["description"] = description;
        data["branchimages"] = list_images;

        //console.log(data);
        let type_request = '';
        if (ckstring(Id) || Id == 0) {
            type_request = 'POST';
        }
        else {
            type_request = 'PUT';
        }
        $.ajax({
            url: domain,
            data: JSON.stringify(data),
            type: type_request,
            dataType: 'JSON',
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'application/json'
            },
            contentType: "application/json",
            success: function (data) {
                //load_data(get_api(PageIndex, PageSize, SearchContent, OrderBy));
                $('#modal-branch').modal('hide');
                if (type_request == 'POST') {
                    Swal.fire(
                        'Thông báo!',
                        'Thêm dữ liệu thành công!',
                        'success'
                    );
                }
                else if (type_request == 'PUT') {
                    Swal.fire(
                        'Thông báo!',
                        'Cập nhật dữ liệu thành công!',
                        'success'
                    );
                }
                $('.btn-save-branch').prop('disabled', false);
            },
            error: function (xhr, status, error) {
                Swal.fire(
                    'Thông báo!',
                    'Rất tiếc đã xảy ra lỗi!',
                    'error'
                );
                $('.btn-save-branch').prop('disabled', false);
                console.log("Result Insert: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    }
    
    let isParkingFee = true;
    let node = document.createElement('i');
    node.className = "fas fa-check-circle";
    document.getElementById('ck-isParkingFee').appendChild(node);
    let text = document.createTextNode(' Tính phí giữ xe');
    document.getElementById('ck-isParkingFee').appendChild(text);
    $('#ck-isParkingFee').on('click', function () {
        document.getElementById('ck-isParkingFee').removeChild(node);
        document.getElementById('ck-isParkingFee').removeChild(text);

        node = document.createElement('i');
        text = document.createTextNode(' Tính phí giữ xe');
        if (isParkingFee == true) {
            node.className = "fas fa-times-circle";
            isParkingFee = false;
        }
        else {
            node.className = "fas fa-check-circle";
            isParkingFee = true;
        }
        document.getElementById('ck-isParkingFee').appendChild(node);
        document.getElementById('ck-isParkingFee').appendChild(text);
    })
    $( async function () {
        await getCity();
    })
    async function getCity() {
        let myDomain = '@Model.Domain';
        myDomain += 'api/catalogue/get-city-catalogue/countryId?countryId=1&PageIndex=1&PageSize=65';
        let data = await api_get(myDomain,token);
        for(var item of data.Data.Items)
        {
            let opption = document.createElement('option');
            opption.value = item.Id;
            opption.text = item.Name;
            console.log('opption:',opption);
            document.getElementById('dll-house-city').appendChild(opption);
        }
        console.log('text:',data);
    }
</script>

